[2020-09-30 20:40] arivera12 commented on #150
Ok I give it a ty right now.

[2020-09-30 20:44] arivera12 commented on #150
It seems I am missing the nodejs stuff. I am installing it.

[2020-09-30 21:58] Eilon commented on #150
Ah, yes, nodejs is required to compile the JS/TypeScript code!

[2020-09-30 22:08] arivera12 commented on #150
OMW, internet is slow here :(

[2020-10-01 04:42] outdomleap commented on #188
I want to create screen navigation or page navigation on Blazor Mobile Binding, How can i do? I'm not see this component on document.

[2020-10-01 11:13] ktaze1 opened #190 "[Bug] Navigation Manager's Force Reload gives error."
Injecting `NavigationManager` and routing works on WebUI but forcing page to reload with `navigationManager.NavigateTo("url", true)` breaks the app, giving
[code]
and ending the debugging session.

I used force reload for refreshing the page after a database operation but I was able to reproduce it with a new project.

In Index razor:
Trying to refresh page with Navigation Manager with` <button @o

[2020-10-01 19:19] arivera12 commented on #150
I compiled successfully everything but **HybridApp.Windows** is not working properly.

The **BlazorWebView** isn't not displaying anything.

![image](https://user-images.githubusercontent.com/5600102/94853254-20628680-03f9-11eb-8a24-6dca2f59f1e8.png)

Also when I press the increment button this exception get's thrown.

![image](https://user-images.githubusercontent.com/5600102/94853356-4be57100-03

[2020-10-01 19:39] arivera12 commented on #150
I tried `HybridApp.Android` and worked properly the default project

![MicrosoftTeams-image](https://user-images.githubusercontent.com/5600102/94855226-2efe6d00-03fc-11eb-8a59-3c5edd0b96cf.png)

I will apply JsRuntime code and try again over android device.

[2020-10-01 20:02] arivera12 commented on #150
JsRuntime worked properly with @soags changes to the source code!

![image](https://user-images.githubusercontent.com/5600102/94857146-075cd400-03ff-11eb-8387-2b25cc61d1a0.png)

![MicrosoftTeams-image (1)](https://user-images.githubusercontent.com/5600102/94857454-8520df80-03ff-11eb-8fe0-ed49e03e93d0.png)

![MicrosoftTeams-image (2)](https://user-images.githubusercontent.com/5600102/94857459-86520

[2020-10-02 00:04] arivera12 commented on #150
@Eilon

When this gonna be added?

The changes are minimal but it will have a huge impact on this project cause it should make all blazor apps and libs already portable to Mobile Blazor Bindings.

I am anxious for the next release with these changes to see some current projects I already have developed running on top of this!

[2020-10-02 20:29] ktaze1 opened #191 "[Question] How to handle OnNewIntent() in WebUI project"
## Background and Description

I was following [this tutorial][1] from Microsoft for adding notifications to my mobile app. The app I'm building is just a webui.

MyApp/Main.razor:
[code]

After setting up project in Firebase and notification hub in Azure I was implementing the Xamarin Forms functionality and had an error.

[Here in this code snippet][2] it overrides onNewIntent:

[code]

## Probl

[2020-10-02 20:49] arivera12 commented on #129
How this gonna be manage? Since we have all blazor RCLs on a base project blazor wasm and server needs the wwwroot/index.html as their entry point. I tried working around with a default blazor project and adding reference from the base class I got it up and running but for some reason it doesn't see the pages folder RCLs, I mean index, counter and weather pagse shows 404 page.

[2020-10-03 00:09] arivera12 commented on #129
Ok I got it working.

I just needed to add and change some reference on `program.cs` on blazor wasm project

`builder.RootComponents.Add<WebUI.App>("app");`

and

`builder.Services.AddSingleton<CounterState>();`

I deleted everything else except the `wwwroot` folder since `wwwoot` on the base library is working as embedded resource I don't know how we will load blazor site from a embedded resource

[2020-10-03 00:50] arivera12 commented on #129
I propose making 3 folders for services on base project

[code]

[2020-10-03 04:22] 199621616 opened #192 "Don't you support internationalization?"
A few days ago, we found that Chinese cannot be used directly in the component page generated by the template（ https://github.com/xamarin/MobileBlazorBindings/issues/184 ）Today, we found that Chinese cannot be serialized properly
var xm = new KeyValue { Key = "1", Value = "世界你好" }；
Result after serialization:
{"Key":"1","Value":"�������"}

[2020-10-03 04:40] 199621616 commented on #192
Similar serialization in https://github.com/jspuij/TwokaB Is normal in desktop applications.

[2020-10-03 08:38] 199621616 commented on #192
After verification, it has nothing to do with serialization, and it is still caused by the encoding problem of template generated. Razor page.

[2020-10-03 14:20] #192 closed

[2020-10-04 01:01] 199621616 commented on #184
WinForm is not supported at this time, we can use WPF instead. Everything else is fine, and what we need now is a third-party component that can work properly with blazor. It's not clear if other third-party components are available https://github.com/stsrki/Blazorise Does not appear to work on 0.4.

[2020-10-04 05:52] AmirImam commented on #150
@arivera12
What did you do to make it work?
still not working for me
I realized that IJSRuntime not registered in **Microsoft.MobileBlazorBindings.WebView.BlazorHybridServiceCollectionExtensions**, so I added it like that
`services.AddScoped<IJSRuntime, BlazorHybridJSRuntime>();`
but didn't work too

[2020-10-04 13:27] arivera12 commented on #150
@AmirImam I downloaded the source code and edit it with these changes https://github.com/soags/MobileBlazorBindings/commit/7abd02fe816869daee9f3915c2923c8b4199e18e

[2020-10-05 02:09] 199621616 opened #193 "Third party components Blazorise.Bootstrap In Microsoft.MobileBlazorBindings.WebView .Windows 0.5.41-preview"
![image](https://user-images.githubusercontent.com/25498672/95033734-ca8c2800-06f1-11eb-92e1-c5d9fb118aa3.png)

[code]

[code]

[2020-10-05 10:36] AmirImam commented on #150
@arivera12
Thank you, it worked now

[2020-10-05 14:10] JohnGalt1717 commented on #155
Any updates on this?

[2020-10-05 16:23] Eilon commented on #190
Hi @ktaze1 thanks for reporting this issue. I haven't seen this before so I'll make sure we investigate this and see how to fix it.

[2020-10-05 16:27] Eilon commented on #150
Sorry I was away from work last week but I'm back now. I'll review the change and see if it is safe to merge, hopefully this week!

[2020-10-05 16:27] Eilon commented on #150
Oh, and thank you so much @arivera12 for trying it out and confirming that it works, that is hugely helpful!

[2020-10-05 16:27] Eilon commented on #193
Closing because I think this is a duplicate issue of https://github.com/xamarin/MobileBlazorBindings/issues/150.

[2020-10-05 16:27] #193 closed

[2020-10-05 17:55] Eilon commented on #188
The recommended pattern for navigation is to use the Shell component. The ControlGallery sample in this repo shows how to use Shell along with the navigation feature to navigate to different pages.

The main project is here: https://github.com/xamarin/MobileBlazorBindings/tree/master/samples/ControlGallery/ControlGallery

And this file shows how to perform navigation: https://github.com/xamarin/Mo

[2020-10-05 17:55] #188 closed

[2020-10-05 20:38] arivera12 commented on #150
@AmirImam which platforms did you the IJSRuntime? can you provide your feedback?

[2020-10-05 20:40] arivera12 commented on #160
This is related to https://github.com/xamarin/MobileBlazorBindings/issues/150

[2020-10-05 21:23] Eilon commented on #191
Hi @ktaze1 can you show more of the code that you have? Or upload your whole project as a GitHub repo?

What is the base class of `MyApp.Main` in your project? I'm guessing that it's the compiled Blazor page, in which case it won't derive from `Xamarin.Forms.Page`, so the code won't compile.

I've written up a small and simple sample that shows a more Blazor-oriented way to write this type of patt

[2020-10-05 21:23] #191 closed

[2020-10-05 21:25] Eilon commented on #160
@arivera12 yes this seems likely. Without further info in this issue I think that's the assumption I will make, so I'm closing this issue. Thank you again for your assistance with these issues!

[2020-10-05 21:25] #160 closed

[2020-10-05 23:15] Eilon commented on #155
Hi @JohnGalt1717 I don't have any update on this. Targeting native and web apps from a single UI codebase is of course a "holy grail" of UI tech and it's a huge problem to solve. Many platforms are approaching it by using HTML as the language for UI layout and content because it's already nearly perfectly supported on every platform. I'm not aware of any huge success of any platform that authors U

[2020-10-05 23:22] JohnGalt1717 commented on #155
Flutter, flutter, flutter.

As in flutter in 2 years has more apps for it than xamarin has in its entire life.

And it works on web very well and macOS and now Linux and windows.

Microsoft either prioritizes this or becomes irrelevant on all app development.

Which is why I'm shocked that this isn't the first and only concern for end user dev at Microsoft.  Literally nothing else matters because

[2020-10-05 23:33] Eilon commented on #155
No doubt that Flutter is successful but I wasn't aware that many people use it to target web as well (I know they _can_, but I wasn't aware that many people _do_).

Either way, targeting web is definitely an idea that is being discussed, but there just isn't any plan to share about it right now.

For this project the next steps are to improve hybrid app support which will absolutely enable buildin

[2020-10-05 23:42] JohnGalt1717 commented on #155
50,000-70,000 new flutter apps a month that could just work on windows too.

And flutter web is about to go final which gets all of those apps that aren't front line landing pages just working on web too (and tons of web sites already. I'd guess more than all of blazor combined.) and macOS and Linux.  (Like blazor wasm it isn't suited for landing pages)

I strongly encourage you to champion a real

[2020-10-06 02:56] 199621616 commented on #150
It's in 0.5-preview, great.

[2020-10-06 04:53] AmirImam commented on #150
@arivera12
I just tested it on android & windows. It worked on android perfectly but didn't work on windows, just blank page. I tried to catch all exceptions following these changes #171 but still blank page

[2020-10-06 05:06] 199621616 opened #194 "It is suggested to add automatic update mechanism as soon as possible"
In modern applications, there is an urgent need for fast iterative updating. Electron has many success factors, and automatic update is an important part of it. Any user developing hybrid applications needs this important feature. I think the hybrid application of mobile blazor binding has the opportunity to surpass electronic, but it still lacks the very important link of automatic update. Let us

[2020-10-06 05:08] arivera12 commented on #150
@AmirImam
I mentioned that over here https://github.com/xamarin/MobileBlazorBindings/issues/150#issuecomment-702345286

[2020-10-06 17:45] Eilon commented on #155
Hi @JohnGalt1717 thank you again for sharing your thoughts. I've shared this thread with my colleagues who work on Blazor, Xamarin.Forms, and some other tech so that they can internalize this feedback as well.

The goal for Mobile Blazor Bindings right now is what I mentioned earlier: Having a great way to build native and hybrid cross-platform apps and sharing HTML-based UI code in reusable proje

[2020-10-06 21:26] Eilon commented on #49
I do have an update, finally! This appears to be a Razor Tooling bug, so I talked to @ntaylormullen on that team about it and he worked with me to figure out the cause, so I logged this issue: https://github.com/dotnet/aspnetcore/issues/26647

I'll see if I can send them a PR to fix it but it looks like the issue might be there to help avoid another issue, so we have to figure out how to fix this

[2020-10-06 22:55] Eilon commented on #150
OK well I can confirm that the same change works for me on Android, iOS, and Windows. I'll try Mac later but I'd assume it works there all the same because none of this is particularly platform-specific.

I'll see if I can massage the code a bit because it seems that some aspects of the service management that already existed is a bit spaghetti-ish.

Expect a PR for this soon!

[2020-10-06 23:28] Eilon commented on #150
One problem that I think exists with this implementation is that I'm not sure it works well when there is more than one BlazorWebView in the app. Multiple BlazorWebView instances will end up sharing some references when I think they should each have their own, such as the proxied `BlazorHybridJSRuntime`. I'll have to think about this some more about how to keep each `BlazorWebView` sufficiently se

[2020-10-07 00:47] arivera12 commented on #150
I think about this last night. What about if we have multiple BlazorWebView's instance on the same or separate windows? We would need to make IJSRuntime run on BlazorWebView scope instead of globally (singleton) scoped.

[2020-10-07 00:48] arivera12 commented on #150
But let's think about use of case, it would be possible to have a case that we need 2 or more BlazorWebView on the same window?

[2020-10-07 00:59] arivera12 commented on #150
But yes if we could have proxied service for each BlazorWebView it would be awesome, it will give the ability to have multiple WebUI on a same app.

[2020-10-07 03:55] Eilon commented on #150
Definitely possible to have more than one BlazorWebView, such as in this example: https://github.com/xamarin/MobileBlazorBindings/tree/master/samples/HybridMessageApp/HybridMessageApp

In this fake e-mail app there is one for the "folder list" and one for the "email list" that also hosts the "email content".

I'm hoping it'll be fairly straight-forward to get this implemented. I think I have it sk

[2020-10-07 07:48] Kukks commented on #155
I agreewith @JohnGalt1717  that this is incredibly important.

There is another Blazor based project https://github.com/Daddoon/BlazorMobile which lets you package Blazor for multiple platforms, including web via WASM and server.

They are also considering integrating this library, tarcked by this issue: https://github.com/Daddoon/BlazorMobile/issues/229

But until then, I am not sure I would be a

[2020-10-07 21:02] Eilon commented on #150
Hi everyone, I have a PR for a fix for this issue here: https://github.com/xamarin/MobileBlazorBindings/pull/195

I want to get some extra eyes on the PR before I merge it. If it's all good, we'll get this in for the next preview, or in the meantime once it's merged we'll have a nightly build that you can use.

[2020-10-07 21:07] Eilon commented on #194
This suggestion is tracked here: https://github.com/xamarin/MobileBlazorBindings/issues/23

Please vote on that issue or add any comments to it so that we can consolidate this request. Thank you!

[2020-10-07 21:07] #194 closed

[2020-10-08 15:20] RChrisCoble commented on #167
@Eilon @lachlanwgordon This is the XAML syntax with MBB, will this also work with the razor syntax?  By that I mean, the UI is run in the thin browser shim using MBB but SkiaSharp works as expected on the device like you have here?

[2020-10-09 08:35] Kukks opened #196 "HybridApp Windows WPF Webview doesn't render."
Running the default template for hybrid apps does not render the webview when using the Windows WPF project.

[2020-10-09 10:01] Kukks opened #197 "Provide a way to debug BlazorWebView"
A way to expose the console output of the webview or even better, a way to remotely connect via devtools is needed.
I have an issue after adding some test code in the default demo and the IDE doesn't seem to spit out anything regarding the error, there is no web mode to test in a browser, and the app does not render an error on screen, just the router redirects back to previous page.

[2020-10-09 10:23] lachlanwgordon commented on #167
The snippet above is Razor Syntax(not xaml), but it uses the Xamarin Forms controls to make a native mobile/desktop App with skia sharp in it.

If you're wanting to use SkiaSharp in a Blazor web site, that's a different issue which Mobile Blazor Bindings can't help you with.

SkiaSharp in Blazor Web is being discussed here https://github.com/mono/SkiaSharp/issues/1194, it looks like you're already

[2020-10-09 17:11] Eilon commented on #167
Thank you @lachlanwgordon for answering!

@RChrisCoble if you have another scenario in mind please let us know!

[2020-10-09 17:13] Eilon commented on #197
Hi @Kukks it's definitely possible to debug the web portion of a hybrid app. We have some initial docs here: https://docs.microsoft.com/mobile-blazor-bindings/advanced/debug-hybrid-apps

Some parts of the doc are still missing, but in general you use the regular browser dev tools either locally (such as on macOS or Windows), or if the code is running in an emulator, you can still use the desktop b

[2020-10-09 17:13] #197 closed

[2020-10-09 17:15] Eilon commented on #196
Hi @Kukks have you checked out the pre-requisites listed here? https://docs.microsoft.com/mobile-blazor-bindings/get-started#prerequisites? Specifically, on Windows you must have the Microsoft Edge Canary channel installed. It's side-by-side with any other version of Edge and any other browser, so even if you normally use another browser, it won't interfere with anything.

Can you confirm that you

[2020-10-09 17:22] Kukks commented on #196
Ah that's my issue for sure then, I should have read the docs
more carefully, thanks!

Is there a way to mitigate this without requiring the user to install a
specific browser? Can we bundle a specific webview component to ensure the
experience is consistent across all Windows users?

On Fri, 9 Oct 2020, 19:15 Eilon Lipton, <notifications@github.com> wrote:

[2020-10-09 17:43] Eilon commented on #196
Right now Mobile Blazor Bindings uses the new Edge WebView2 control to host web content, and that WebView2 control currently requires Edge Canary because it's in preview. But in the future what's in Edge Canary will go to "regular" Edge that just about everyone will have anyway (does Windows Update install it? I can't recall.), so users won't need to install a pre-release Edge Canary.

But if in t

[2020-10-09 18:16] musictopia2 opened #198 "Support for using css from another class library in hybrid apps."
I have been unable to use css from an external library.  For example, if I add a new razor class library to the solution to the template and use that component, all the css was gone.  Tried to use this code in the index.html
<link href="_content/SampleLibrary/styles.css" rel="stylesheet" />

and even added this code in the app.cs
var tt = typeof(Component1);
            BlazorHybridHost.AddResourc

[2020-10-09 19:39] sake402 commented on #151
Hi @Eilon. Been a while we have discussed on this issue. I am not sure if you have been able to have a look at my repo.
But in summary, my proposition for third party library is this.

Have a base XamarinComponent class that inherits from ComponentBase. This just serve as a wrapper container arround the native/Xamarin Form control
[code]

We can then autogenerate components from their properties a

[2020-10-09 19:55] Eilon commented on #198
Indeed, that is a feature we are working on here: https://github.com/xamarin/MobileBlazorBindings/issues/129

And this is planned for the upcoming Preview 5, so we should have it working soon!

[2020-10-09 19:55] #198 closed

[2020-10-09 19:56] Eilon commented on #151
Hi @sake402 thank you again for your comment and info. Your project is still sitting in my "TODO" list and I have not forgotten about it. There's a lot going in in the Mobile Blazor Bindings world and I think your ideas and suggestions will help make a huge difference here! I will do my best to take another look at your project soon.

[2020-10-11 15:02] Kukks commented on #196
@Eilon  I installed Edge Canary and used the template again and it still did not load.

[2020-10-12 17:22] RChrisCoble commented on #167
@lachlanwgordon Thanks for the correction.  I've spoken at length with @mattleibow who owns the SkiaSharp repo and to get SkiaSharp going on WASM he needs the upcoming .Net 6 AOT feature support which hopefully will drop in preview releases sometime in Q1/Q2 so he can get started.  AOT appears to be the top requested feature in the .Net 6 roadmap.

I'm assuming this means for code to draw with Ski

[2020-10-14 05:59] Kukks commented on #196
I have Version 87.0.669.0 (Official build) canary (64-bit) and Version 86.0.622.38 (Official build) (64-bit) installed, with the non-canary one set as default.

[2020-10-14 06:15] Eilon commented on #196
Thanks for the info I'll take a look. At the very least this might be a sign that we need better diagnostics.

[2020-10-14 06:23] Eilon commented on #196
Let's try this:

1. Open the solution/project for the hybrid app
1. In Visual Studio, go to Debug / Windows / Exception Settings
1. Fully check the "Common Language Runtime Exceptions" option (not just a grayed out checkbox, but a proper check):
![image](https://user-images.githubusercontent.com/202643/95951280-ff137a00-0daa-11eb-9c34-42809ee70013.png)
1. Press <kbd>F5</kbd> to run the app with th

[2020-10-14 06:44] Eilon commented on #196
As a point of comparison, I just got a brand new laptop, ran a hybrid app without Edge Canary installed, and of course it failed (with an exception seen in VS, but hidden from normal view). Then I installed Edge Canary and it ran fine (reported as `Version 88.0.670.0 (Official build) canary (64-bit)`).

[2020-10-14 06:45] Eilon commented on #196
And it seems I have Edge Canary 88.<something> and you have 87. That's probably the problem. Can you check if yours says it's up-to-date?

![image](https://user-images.githubusercontent.com/202643/95953100-36375a80-0dae-11eb-864a-e2bd2d66dde5.png)

[2020-10-14 07:26] Kukks commented on #196
![image](https://user-images.githubusercontent.com/1818366/95956633-e2a12d00-0dfe-11eb-8436-57cd0064d430.png)
![image](https://user-images.githubusercontent.com/1818366/95956654-e8970e00-0dfe-11eb-9308-9d5a40e91415.png)

Same result.

I enabled all CLR exceptions to throw on Rider and nothing threw.

[2020-10-14 20:31] #150 closed

[2020-10-14 20:37] Eilon commented on #150
Thank you everyone for suggesting this change (it's a good one!) and working with me on getting the right fix in! @soags @arivera12 @SteveSandersonMS

[2020-10-14 21:27] Eilon commented on #196
I just noticed that I don't even see any native UI in that screenshot, so I'm thinking this isn't a hybrid-specific issue. Are there any changes to the app from the default template? Can you publish your code on GitHub so I can try to reproduce the issue?

[2020-10-14 22:49] Eilon commented on #150
The build has completed and you can try it out from the NuGet feed described here: https://docs.microsoft.com/mobile-blazor-bindings/contribute/nightly-builds

[2020-10-16 02:39] skclusive commented on #179
can mobileblazor bindings app consume library based on <TargetFramework>net5.0</TargetFramework>? is this planned for .NET5.0 release timeframe or later.

[2020-10-16 07:38] Eilon commented on #179
We're discussing this with .NET folks. It's definitely in the plans to support the latest .NET5 stuff but it's not yet ready. I think it is currently blocked on some Xamarin.Forms support that is being looked at.

[2020-10-19 13:13] ktaze1 commented on #190
Hey @Eilon, do you happen to have any update on this issue?

[2020-10-19 17:18] Eilon commented on #190
Not yet, but it's on the list.

[2020-10-19 23:19] ErikApption commented on #196
Same issue here (with Canarie 88 installed) and I get
`System.DllNotFoundException
  HResult=0x80131524
  Message=Unable to load DLL 'WebView2Loader.dll' or one of its dependencies: The specified module could not be found. (0x8007007E)
  Source=Microsoft.Web.WebView2.Core
  StackTrace:
   at Microsoft.Web.WebView2.Core.CoreWebView2Environment.CreateCoreWebView2EnvironmentWithOptions(String browser

[2020-10-20 06:37] Kukks commented on #196
Ah yeah, sorry. I stripped out the native elements as my plans to use this project involve only the BlazorWebView.

I just tried again on a fresh template install  with both `Version 86.0.622.48 (Official build) (64-bit) and ``Version** 88.0.676.0 (Official build) canary (64-bit)` installed. The non-canary one is the default browser on this device. Could it be that the webview is attempting to use

[2020-10-20 06:39] Kukks commented on #196
Ok, I've noticed some weird behavior actually:
![](https://i.imgur.com/XaTkUOK.gif)

[2020-10-20 22:20] Eilon commented on #196
@ErikApption / @Kukks - can you confirm that your MyApplication.Windows.csproj has this direct reference:

[code]

(It will also have this reference _transitively_ via the `Microsoft.MobileBlazorBindings.WebView.Windows` package, but that is insufficient.)

[2020-10-20 22:31] Eilon commented on #196
Oh and as far as I know setting the default browser doesn't matter. You just need to have Edge Canary installed.

[2020-10-20 23:33] Eilon opened #199 "Update to WebView2 SDK 1.0.674-prerelease"
This has fixes for these issues:
* https://github.com/MicrosoftEdge/WebView2Feedback/issues/219
* https://github.com/MicrosoftEdge/WebView2Feedback/issues/325

[2020-10-20 23:37] Eilon commented on #196
I don't know if it'll help, but I have a PR out to update to a new version of the WebView2 SDK: https://github.com/xamarin/MobileBlazorBindings/pull/200

Maybe that will address this issue. It works for me before & after this change but who knows.

[2020-10-21 06:25] Kukks commented on #196
Already there
[code]

[2020-10-21 06:48] jspuij commented on #196
@ErikApption (And maybe @Kukks) The message:

`System.DllNotFoundException HResult=0x80131524 Message=Unable to load DLL 'WebView2Loader.dll' or one of its dependencies: The specified module could not be found. (0x8007007E) Source=Microsoft.Web.WebView2.Core StackTrace: at Microsoft.Web.WebView2.Core.CoreWebView2Environment.CreateCoreWebView2EnvironmentWithOptions(String browserExecutableFolder, S

[2020-10-21 07:25] Kukks commented on #196
Here is the trace:
https://gist.github.com/Kukks/e955884b8bc12670a3d10b502ad25c22

[2020-10-21 07:53] jspuij commented on #196
@Kukks I've had a look at the trace and unfortunately it only captures the managed part, and that looks fine. There is a native dll called WebView2Loader.dll that should be present in the binary output directory (you could check that), but if that is there tracability stops:

WebView2Loader is a native dll that uses OLE to communicate with Edge. There is no static or early binding inside that DLL:

[2020-10-21 08:04] Kukks commented on #196
I can confirm that `WebView2Loader.dll` is present in the output dir..

One thing i've noticed is that once I  click the native increment button, the state updates but then the whole app stops working. The UI still seems to respond but clicking or interacting with the button does not work anymore (breakpoints on the click event don't work, no exceptions are triggered even with all the CLR exceptio

[2020-10-21 08:18] jspuij commented on #196
@Kukks Unfortunately there isn't much else. CefSharp wraps an embedded chrome (which hugely increases executable size) and usually targets an outdated chrome version (3 to 4 releases behind). It also does not support .NET core. Finally its a non-microsoft dependency that MS would have to support (if this lives belong its expirimental phase).

I agree that this is not ideal and the bindings are a l

[2020-10-21 08:25] Kukks commented on #196
10 Pro 10.0.1362

[2020-10-21 08:58] jspuij commented on #196
@Kukks I found this in the Webview2 feedback issue list (which is a good source anyway):

https://github.com/MicrosoftEdge/WebView2Feedback/issues/544

[2020-10-21 09:14] Kukks commented on #196
Ok, tried the current beta, Dev and Canary edge editions.

Beta gives me a different result!
![](https://i.imgur.com/wuioq1u.gif)

[2020-10-21 09:15] Kukks commented on #196
Beta is 87.0.664.12

[2020-10-21 09:18] Kukks commented on #196
Dev also gives the same result as Beta
Dev is  Version 88.0.673.0 (Official build) dev (64-bit)

Noticed the following in the console:
`[Could not load assembly: Microsoft.MobileBlazorBindings.WebView.Windows, Version=0.4.0.0, Culture=neutral, PublicKeyToken=null for Attribute Xamarin.Forms.Platform.WPF.ExportRendererAttribute | Some render
ers may not be loaded] Registrar
`

[2020-10-21 09:24] jspuij commented on #196
That one is pretty normal for a complete mismatch between WebView2 and its SDK. I’m afraid that your Canary edge does load, but has some incompatibility that requires an update of the SDK. Eilon has already updated to that SDK version. The update will be released with the next preview. Or you could clone the repo and build it yourself if you’re in a hurry.

[2020-10-21 09:31] jspuij commented on #196
Ah, I see it has not been merged yet: https://github.com/xamarin/MobileBlazorBindings/pull/200

[2020-10-21 09:45] jspuij commented on #196
I've just done a routine check with the current Canary, which is 88.0.677.0.
I've done:

[code]

Then I've opened the solution and pressed F5:

![image](https://user-images.githubusercontent.com/985974/96703222-e0a51400-1392-11eb-999d-1de7c97b7f92.png)

Pretty stumped ATM.

[2020-10-21 09:48] Kukks commented on #196
Those were pretty much my steps.

I just cloned the branch from #200  and still have the same issue >_<

[2020-10-21 09:49] Kukks commented on #196
Ah wait,
[code]

[2020-10-21 09:52] jspuij commented on #196
It tries to create a userdata folder in the current directory. Looks like that is not allowed?
The location of the userdata folder will be configurable in the future. But it isn't right now.

[2020-10-21 09:55] jspuij opened #201 "Make the userData folder location configurable"
The userData folder is currently not specified while creating the environment for Edge on windows:

`CoreWebView2Environment.CreateAsync().ConfigureAwait(true);`

The userdata folder will be created in the working folder for the process. That might not be a writable directory (e.g. Program Files for an installed application). IT also seems that Rider does not change the working folder during debug

[2020-10-21 09:56] Kukks commented on #196
!!
![image](https://user-images.githubusercontent.com/1818366/96704438-5fe71780-1394-11eb-890d-1db917bb2293.png)
It's the user data folder, I changed it manually and it worked. Unsure why the default does not work TBH

[2020-10-21 09:59] jspuij commented on #196
I think it is because the current directory (inside rider) is set to the rider application folder.
Visual studio will change the working directory to the output folder during debug. This might very well be an issue with Rider that you would have not encountered with Visual Studio.

[2020-10-21 10:02] jspuij commented on #201
Note that there is some precious info in this issue: https://github.com/MicrosoftEdge/WebView2Feedback/issues/297

- The source URL property should not be wet on the Webview before the environment is created (because then it will be created implicitly). This will probably hold true for any method or property that starts initializing the webview.
- We need to come up with a sensible default for the

[2020-10-21 10:07] Kukks commented on #196
In any case, I'm glad this is only an IDE issue. I was ready to revive my
Internet Explorer hate for Edge :)

On Wed, Oct 21, 2020 at 11:59 AM Jan-Willem Spuij <notifications@github.com>
wrote:

[2020-10-21 10:07] Kukks commented on #196
if @ErikApption can confirm that this is also his issue, I'll close this. Unless you prefer a new fresh issue

[2020-10-21 10:08] jspuij commented on #196
Could you check https://www.jetbrains.com/help/rider/Run_Debug_Configuration_dotNet_Project.html?
Especially the working folder? I'm curious what's there in Rider.

[2020-10-21 10:09] jspuij commented on #196
Leave it open for now. I'm pretty sure his is different because of the different exception.

[2020-10-21 11:56] jspuij commented on #155
The fundamental difference between flutter and Blazor is that Flutter uses Skia as a rendering engine and does not render (or use HTML). Native skia implementations exist for IOS/Android/Windows/Linux/Mac and there is both a Dom Canvas javascript renderer and a WebAssembly renderer called CanvasKit.

Flutter's web support is still poor and I doubt it will ever catch up with real web development. T

[2020-10-21 12:16] JohnGalt1717 commented on #155
Correction: Blazor currently uses HTML.  It has been demonstrated using the flutter rendering engine, which is the work that should be resumed instead of killed.

I've tested the same application in Blazor and Flutter.  Flutter is smaller by about 10%, loads faster, and uses exactly the same code as our iOS and Android apps.  It does full tree shaking, linking and minimization which Blazor still d

[2020-10-21 13:19] Kukks commented on #155
I'm unsure what your point is here now. For me, this issue is about being able to, for the most part, write once deploy everywhere. And by everywhere I mean mobile, desktop and web.
Seems like the basis for Mobile is covered, desktop is almost there( windows variant is buggy, mac works, linux nonexistent?) and web is on its way with #178 and #195

Most designers have struggled to deal with Microso

[2020-10-21 14:25] jspuij commented on #155
Flutter is more than a rendering engine. It's a component library as well. There is absolutely no advantage to using Flutter (other than a tech demo) from Blazor as it only adds indirection layers and uses a foreign component library. However it would make sense to write a MAUI (as nextgen cross platform App UI by MS) renderer using webassembly and WebGL directly for the browser. This way there wi

[2020-10-21 19:15] jspuij commented on #179
See https://github.com/xamarin/Xamarin.Forms/issues/12112 for this.

[2020-10-21 22:31] Eilon commented on #196
Yeah I think @ErikApption 's issue is mostly likely different.

I just merged #200 to update to the latest WebView2 package and you can use the updated NuGet packages from the nightly feed, which you can read about here: https://docs.microsoft.com/mobile-blazor-bindings/contribute/nightly-builds

Maybe that fixes this odd issue, or maybe not 😄

[2020-10-22 13:39] arivera12 commented on #155
I read all comments and points of view it was very interesting. I would just simply stick to the web and forget how flutter works. We just want single base code for multiple platforms right? We just need Html, css and javascript. Blazor tackles most of javascript stuff. Web is and should be the standard of UI development, all platforms have web browsers and web runs everywhere browser is available

[2020-10-24 01:13] congzhangzh commented on #201
@jspuij @Eilon how about allow specific BrowserExecutableFolder, as Edge WebView2 be General Availability and support evengreen Evergreen distribution mode now!

ref:
https://docs.microsoft.com/en-us/microsoft-edge/webview2/concepts/distribution#fixed-version-distribution-mode
https://blogs.windows.com/msedgedev/2020/10/19/edge-webview2-general-availability/

[2020-10-27 14:47] jspuij commented on #201
@congzhangzh I don't think we ever want to support the fixed version distribution mode, as this will tie a webview2 application to a specific browser version. The evergreen version will always use the latest webview2 runtime. I don't think distribution of the runtime is part of the scope of MBB, but I'll have @Eilon weigh in on this.

[2020-10-27 15:24] congzhangzh commented on #201
@jspuij I understand the good part of evergreen, but this really limit the scenarios of application deploy. single file deploy is really a great feature of dotnet core, if anypart must tie to os,  single file deploy  will not be so meaningful.

[2020-10-27 16:06] sake402 opened #203 "File Input not working"
I have an existing Blazor app that I have successfully ported into MBB. However file select inputs doesnt work.

[code]
The first time I tap a file input, the filechooser get opened and when a file is selected, nothing happens and the onchange event is not fired either. Subsequent tapping of the file input does nothing, filechooser not opening anymore.

So, I started snooping around in the WebKitW

[2020-10-27 23:11] Eilon commented on #129
This is in!!!!!! Fixed in #178

A huge huge huge HUGE thank you to @jspuij for all of his work, patience, and late night (for him) phone calls with me!

[2020-10-27 23:11] #129 closed

[2020-10-28 13:17] arivera12 commented on #129
@Eilon when you gonna do a new template and nuget package version? I saw you are still having one more task for take out a new preview based on the current milestone. I am using nighly build at this moment but I saw @jspuij did some changes to the template structure, when we can have this template changes?

[2020-10-28 17:47] Eilon commented on #129
Hi @arivera12 the nightly feed has both the updated NuGet packages for the code as well as the NuGet packages that contain the templates!

Learn more here: https://docs.microsoft.com/mobile-blazor-bindings/contribute/nightly-builds

[2020-10-28 18:26] DevCisse opened #205 "[Help Wanted] Running the Samples locally"
I am trying to the samples locally. I don't know If I am doing it correctly though. For instance, the Todo sample on visual studio I selected 'scope to this ' and try to run I get this error.

![image](https://user-images.githubusercontent.com/45653783/97480036-2e052080-1953-11eb-866f-e630b0d0fb1d.png)

[2020-10-28 20:02] papyr commented on #84
Hello any update on this?

[2020-10-28 20:40] Eilon commented on #205
Hmm I haven't seen this before. It's complaining about MAX_PATH, which is a Windows limit of 260 chars. Can you try moving the whole solution to a shorter path? So instead of `E:\MobileBlazorbindings-master\MobileBlazorbindings-master\...` maybe `E:\MBB\..`? At least just to see if that's the only problem.

[2020-10-28 20:53] Eilon commented on #84
Hi @papyr , the request here is for a substantial sample that we don't currently have planned. But we have several smaller samples within this repo in the [samples](https://github.com/xamarin/MobileBlazorBindings/tree/master/samples) folder. I have also written an app that is available in the Apple App Store for tracking recipes, which is available at the [Rezipe](https://github.com/Eilon/Rezipe)

[2020-10-28 21:18] Eilon commented on #201
I think for now evergreen is the main intended workflow. I am find if there is some optional support for other modes but I think at this point they are less important and also complicate the testing matrix for Mobile Blazor Bindings.

[2020-10-28 23:25] DevCisse commented on #205
Okay. I will try that.

[2020-10-29 00:09] DevCisse commented on #205
That was the only problem. Its working now. Thanks

[2020-10-29 00:28] luismts commented on #23
Some references:

https://github.com/AndreiMisiukevich/HotReload
https://github.com/praeclarum/Continuous
https://github.com/pranshu-aggarwal/HotReloading

[2020-10-29 04:40] congzhangzh commented on #201
ok

[2020-10-29 05:25] Eilon commented on #205
Glad you got it working! I'm not sure why the Android stuff failed with MAX_PATH because these days I think most apps aren't restricted by it, but certainly some still are.

I'm leaving this bug open so I can see if I can get to the bottom of this.

[2020-10-29 06:35] jspuij commented on #205
Hahaha anyone ever trying to develop java code knows this issue. I have a c:\o\ directory for the openHAB source code for especially this reason. The endless nesting of namespaces and full class names typically trigger this.

[2020-10-29 06:51] DevCisse commented on #205
Will love to participate

[2020-10-29 07:24] Eilon commented on #129
I've written up an initial walkthrough to guide people to build a Razor Class Library (RCL) and use it in a Mobile Blazor Bindings app and in a Blazor Web app.

You can check it out in the pre-publish format here: https://github.com/MicrosoftDocs/mobile-blazor-bindings/blob/master/mobile-blazor-bindings/walkthroughs/shared-web-ui.md

This will eventually go live on the Microsoft Docs site. But in

[2020-10-29 15:12] dsedmak opened #206 "Any plans for Blazor Server style operation?"
The Readme states:

A lot of applications still need to communicate with the server on almost every meaningful interaction.
For such applications a Blazor Server style operation would be preferable because there's no need for an API...
This means the code behind executes on the server.

In hybrid apps this should be possible since it's just a website so the question also covers native apps made wi

[2020-10-29 16:56] Eilon commented on #206
Hi @dsedmak this is essentially already possible today: Use a regular WebView and point it at `https://myapp.example.com/` and using some JavaScript interop you can communicate between the server app that is rendering in the WebView and the rest of the native app.

It's not a scenario that we plan to invest much effort into because you can already do it today. Also, I don't think many apps would c

[2020-10-29 17:26] dsedmak commented on #206
I am aware that you can do this by running a PWA in a WebView.
That also covers the basic UI when you're offline.

That is why I was asking about native apps with blazor bindings.
You could have native looking iOS and Android apps and save some work on the API, the double validation...
It really depends on the use case whether the app should work offline. Apps centered around collaboration would h

[2020-10-29 18:24] Eilon commented on #206
If you have any thoughts on what specific features or functionality we could add that could make this easier, that's certainly worth discussing, so please let us know!

[2020-10-29 18:24] #206 closed

[2020-10-29 18:51] Eilon opened #207 "NOT YET RELEASE: Release Notes for Mobile Blazor Bindings 0.5 (0.5.TODO)"
# NOTE: THIS IS NOT YET RELEASED!!!

---

# NOTE: THIS IS NOT YET RELEASED!!!

---

# NOTE: THIS IS NOT YET RELEASED!!!

---

# NOTE: THIS IS NOT YET RELEASED!!!

---

---

---

---

## What's new?

* TODO
* TODO

More details in the announcement blog post: https://aka.ms/mbb-preview5-blog

## Known issues

* TODO

## More information

* All issues fixed in this milestone: https://github.com/xamar

[2020-10-29 22:01] jspuij commented on #127
https://github.com/xamarin/MobileBlazorBindings/commit/b062f7e6008312d06aae1ec428862e5144f2b247#diff-2003c256a32bd8a1f565f12b30338851e78984c6279ee256b97294adfeab18fdR17-R20

[2020-10-29 22:55] jspuij opened #209 "Improve Initialization of the WebView / WebViewRenderers"
ATM There are multiple routes for initialization:

### BlazorWebView initial From XAML:

- Constructor calls Start() (Initial setup)
- When the Parent is set:
  - InitAsync() is called, which sets the source.
  - Then initial render is called.

### BlazorWebView initial From Blazor Component:

- Constructor calls Start() (Initial setup)
- On first render of the parent Component:
  - InitAsync() is

[2020-10-30 19:13] ktaze1 commented on #207
Great work @Eilon and everyone who worked on this! Thanks for all the effort.

Quick question about migration: you mentioned that for Android project we should add constructor argument to `App` constructor but which package does `AssetFileProvider` belong to? I've got an error on `LoadApplication(new App(new AssetFileProvider(Assets, "wwwroot")));` line stating AssetFileProvider type or namespace

[2020-10-30 19:54] Eilon commented on #207
Ah, you might have to import the `Microsoft.MobileBlazorBindings.WebView.Android` namespace!

[2020-10-30 20:00] Eilon commented on #207
I updated the docs to mention the namespace (it should be live very soon). Thank you for checking out the project and trying it out! We're always happy to hear any feedback you have to share!

[2020-10-31 15:40] musictopia2 opened #211 "css styles on webviews not working on android"
I followed the tutorial for using static assets like css on razor class libraries.  Good news is it worked perfectly on Windows.  Tried the same thing on Android but the styles did not work at all.  I have the head as the following on the android portion.
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=n

[2020-10-31 15:49] musictopia2 commented on #211
Actually I found out that what happens is at first, I forgot the line for the css.  However, even after I put it in, did not work.  The only thing that finally made it work was do a clean solution then build.  Hopefully there is some way to fix the caching problem for android.  Windows did not have the problem.

[2020-11-01 14:26] jspuij commented on #211
@musictopia2 Make sure that the CSS file that you add has either "CopyAlways" or "CopyIfNewer"  property set in the solution. You might want to use a globbing pattern to automatically set this property on all files added to a wwwroot folder.

[2020-11-01 14:29] jspuij opened #212 "Issues found while implementing Authentication"
As said I'm implementing authentication atm. This issue will serve as my memory as I encounter issues.

[2020-11-01 14:47] jspuij commented on #212
WebAssembly Auth adds the default options as singletons. However one of these (the first) takes a dependency on NavigationManager, which is scoped. This is ok for webassembly as there is no scope created. We do create scopes in MBB however, which leads to an exception. At least the first one should be scoped. We will fix this, however we should report this back to the aspnetcore team.

https://git

[2020-11-01 16:24] papyr commented on #84
Thats a bummer, can you tell me how to do the core Taxi features for routing, dispatch, scheduling and tracking or which samples have that functionality. The weather one does not have this.

[2020-11-01 22:53] Dreamescaper commented on #11
Thanks for a great work!

Is there any way I could currently set `TabBarIsVisible` property for Shell?

[2020-11-01 23:09] Dreamescaper opened #213 "Editor error when Frame is nested inside Frame"
That seems like a tooling error, but I'm not sure where would be better to log it.

Editor is not able to match start/end tags for Frame element when one Frame is nested inside another Frame.
That breaks syntax highlighting and auto-format is broken.

Example:
[code]

![AtUhZ4rq3r](https://user-images.githubusercontent.com/17177729/97817907-eca0a800-1ca7-11eb-899f-291db97e8429.gif)

[2020-11-02 05:23] Eilon commented on #211
@musictopia2 also if you're still having a problem can you upload your app to a GitHub repo? As @jspuij says it's often some CSPROJ setting that is missing. Unfortunately at this time it's difficult to get them exactly right so if this is a common problem we will try to make it easier in the future.

[2020-11-02 05:42] Eilon commented on #11
Hi @Dreamescaper thanks! It seems that `TabBarIsVisible` is an "attached property", meaning it isn't a _direct_ property of Shell. I haven't figured out a good way to support attached properties directly in the Blazor markup.

Fortunately, in Mobile Blazor Bindings there's an "escape hatch" to get to the Xamarin.Forms controls via the `NativeControl` property, described [in the docs here](https://

[2020-11-02 05:43] Eilon commented on #11
Oh, and yes, this is kind of cumbersome. I'll have to think about how to make this easier. Attached Properties are a very XAML-ish thing, and they do work well from regular C# (as they do in my example above), but they're not great in Blazor syntax.

[2020-11-02 05:46] Eilon commented on #213
Hmm well that's weird! I've never seen this error so I'll investigate.

[2020-11-02 05:47] Eilon commented on #213
I can reproduce this on my machine as well. I can't believe I've never seen this, so weird!

[2020-11-02 05:48] Eilon commented on #213
Even this totally trivial case causes the warning:

[code]

I wonder if this conflicts with some built-in Blazor/Razor thing? I'll investigate some more tomorrow and maybe consult with the Razor Editor experts.

[2020-11-02 08:46] thenrich2009 opened #214 "Can third party JS UI controls be used with MBB?"
Can UI Control libraries like Telerik Kendo UI and DevExpress DevExtreme be used with MBB? This requires JS interop that Blazor uses to call JS functions.

Or jQuery and any jQuery plugin?

[2020-11-02 10:33] jspuij commented on #212
And found another one on logout. This should take IOptionsSnapshot as well:

https://github.com/dotnet/aspnetcore/blob/648c15dbe90fb8c113f7c6b4adeb40d9e10494f6/src/Components/WebAssembly/WebAssembly.Authentication/src/Services/DefaultRemoteApplicationPathsProvider.cs#L13

[2020-11-02 10:34] jspuij commented on #214
Yes, this works without issue.

[2020-11-02 17:45] Eilon commented on #214
Indeed, `JSInterop` is supported in Mobile Blazor Bindings as of Preview 5, which was released a few days ago. If you have any issues with a 3rd party control please let us know by filing an issue with all the details.

[2020-11-02 17:45] #214 closed

[2020-11-02 18:44] Eilon commented on #213
I feel like maybe `Frame` is conflicting with some other kind of Blazor thing. If you use the full type name there's no warning:

[code]

And other tags all seem fine. It seems like just this one `<Frame>` tag is not happy.

[2020-11-02 18:54] Eilon commented on #213
Indeed, this doesn't work in a Blazor Web app either! Create a file called `Frame.razor` so that you have a `Frame` component and you get the exact same warning:

![image](https://user-images.githubusercontent.com/202643/97907191-bdb32200-1cf9-11eb-9b2b-eb8492439930.png)

[2020-11-02 19:12] Eilon commented on #213
And BTW this is only a design-time warning. It compiles and runs perfectly fine.

[2020-11-02 19:33] Eilon commented on #213
I logged a bug in the ASP.NET Core repo for Razor Tooling because this repros outside of a Mobile Blazor Bindings project: https://github.com/dotnet/aspnetcore/issues/27450

I'm closing this issue because there's presumably no action needed here.

Thank you for the bug report, this one was a weird one!

[2020-11-02 19:33] #213 closed

[2020-11-03 06:55] ktaze1 opened #216 "Question about Android WebView behavior change on hybrid apps"
Hello. Before preview 5, I had a working page but after migration I notice this change, I don't know if it's intended or a bug so here we go:

There is a setting page on my project where users can change their information. In here I just receive the user from a remote server, show the information with `EditForm` and when `OnValidSubmit` happens I send a POST request.

[code]

As I said, this page

[2020-11-03 07:31] Eilon commented on #216
Sorry you're running into this! I doubt this was intentional, but let me tell you, getting WebView to work is not easy, so I wouldn't be surprised if this accidentally changed.

This could be related to something that @jspuij is working on fixing. On Android in particular the order of operations in .NET is quite different from what one might normally expect, so sometimes you can get these weird di

[2020-11-03 08:53] jspuij commented on #216
@ktaze1 I see you're using Auth already, nice job! Could you point us to the repo if it's public? This would save us so much time!

[2020-11-03 08:58] ktaze1 commented on #216
Since there was no Auth before I had to use a custom one. Here is a link to repo:  https://github.com/ktaze1/CugemderMobileApp. It's most in Turkish and sorry for some spaghetti code along the way.

[2020-11-03 09:18] jspuij commented on #216
Thank you. We'll investigate an let you know.

[2020-11-03 09:41] Dreamescaper opened #217 "Using AuthorizeView with Shell"
I'm trying to use asp net core auth with Mobile Blazor (by registering custom `AuthenticationStateProvider` and storing jwt token in SecureStorage) and use AuthorizedView component. So I want to show login page when user is not authenticated, so I'm trying to do something like that:
[code]

And it basically works - with the exception of refreshing when state changes. So if I log in or log out, I h

[2020-11-03 15:00] jspuij commented on #212
Redirects to a custom app scheme on iOS do not work. We will have to intercept the redirect ourselves and notify Blazor somehow.

[2020-11-03 20:46] Eilon commented on #217
Oh this is cool! (Even though it isn't working 😄 )

I'm guessing this involves some UI update scenarios that might not be fully implemented yet. I am now vaguely recalling that maybe the Shell wrapper doesn't support removing tabs (the real Shell in Xamarin.Forms should).

I'll take a look, hopefully an easy fix!

[2020-11-03 21:11] Dreamescaper commented on #217
@Eilon
I assume that's because ElementManager.RemoveElement only supports Views, right?
https://github.com/xamarin/MobileBlazorBindings/blob/3a970afde40ac8107264bcaac962a6e2cfa015da/src/Microsoft.MobileBlazorBindings/MobileBlazorBindingsElementManager.cs#L63-L74

WDYT about adding method `RemoveChild` to `IXamarinFormsElementHandler` to be able to handle various parents?

[2020-11-03 23:38] Eilon commented on #217
Yup, the fix is definitely something along those lines, thanks for digging in! If you'd like, feel free to take a crack at a PR. I'm not sure how involved the change is, but it probably involves changing any file that is a container type (as you seem to have discovered).

[2020-11-03 23:47] Dreamescaper commented on #217
@Eilon
Yep, I can work on that a bit later.

I have only one question so far. Is there any easy way to get parent ElementHandler from child ElementHandler?

Otherwise I'd probably replace `ElementManager.RemoveElement(IElementHandler handler)` method with `ElementManager.RemoveChild(IElementHandler parent, IElementHandler child)` method, if that acceptable change.

[2020-11-03 23:55] Eilon commented on #205
It looks like this is a common enough problem that there is a doc on how to work around the issue: https://docs.microsoft.com/xamarin/android/troubleshooting/questions/path-too-long-exception

I'm closing this issue here because it is external to the project.

[2020-11-03 23:55] #205 closed

[2020-11-03 23:59] Eilon commented on #217
Hmm I'd have to dig into the code to see for sure.

I think doing your suggestion here would be fine:

And in places where it doesn't make sense, it throws NotSupportedException like this:

https://github.com/xamarin/MobileBlazorBindings/blob/master/src/Microsoft.MobileBlazorBindings/Elements/Handlers/GestureRecognizerHandler.cs#L43-L47

[2020-11-03 23:59] Eilon commented on #217
(I think much of this API needs some major refactoring in the future, but for now I think a tactical change might be the best course.)

[2020-11-04 11:33] ktaze1 commented on #216
Also find out that when trying to access non-existing page, rather than showing "Sorry, there's nothing at this address." from `Router`'s `NotFound` tag in `App.razor`, it crashes app with  `**System.ObjectDisposedException:** 'Cannot access a disposed object.Object name: 'Android.Webkit.WebView'.'`

[2020-11-04 19:48] musictopia2 commented on #211
I just used the default template.  The reason I discovered the minor problem was because after I used the default template, I commented out the part for the css in the index.html to experiment.  After that, then I uncommented the code.  However, even after uncommenting, still did not show the css.   The issue was the index.html, not the changing the css file in the android project.  I would sugges

[2020-11-04 19:50] Eilon commented on #211
Ah, so rebuild worked? I think at one point I ran into that but then it didn't happen again. So perhaps some build dependencies are not tracked properly for the rebuild. Oh boy, more MSBuild targets/props fixes! 😄

[2020-11-04 21:34] musictopia2 commented on #211
Rebuild only works if I cleaned the solution first for now.

[2020-11-04 21:35] Eilon commented on #211
I see, thank you for the update.

[2020-11-05 05:32] arivera12 opened #218 "AttachToIpcChannel must be called before using IJSRuntime"
What does this error means?

[2020-11-05 05:41] arivera12 commented on #218
https://github.com/xamarin/MobileBlazorBindings/blob/aa6112e7fae894ebc2f1e0fb1bb2cc6f5bd342ee/src/Microsoft.MobileBlazorBindings.WebView/BlazorHybridJSRuntime.cs#L60

[2020-11-05 14:33] ktaze1 commented on #216
Worth to point out that whenever there is a property waiting for a data from a database, app inconsistently crashes giving this error:

This error message shows the line where `GetFromJsonAsync` method is called. It mostly works, but not always.

![image](https://user-images.githubusercontent.com/22341988/98253871-a17ae380-1f8c-11eb-83cd-f57cac3befb8.png)

[2020-11-05 20:08] Eilon commented on #218
It's an internal error that _shouldn't_ happen! 😄

Can you share how to reproduce this?

[2020-11-05 22:17] Dreamescaper opened #220 "MenuItems are added to Shell in wrong order"
AppShell.razor
[code]

Result:
![image](https://user-images.githubusercontent.com/17177729/98302601-5d580500-1fc5-11eb-846a-d6c08fceac52.png)

[2020-11-05 22:25] Dreamescaper commented on #220
Problem is in `ElementHandler.GetPhysicalSiblingIndex`:

https://github.com/xamarin/MobileBlazorBindings/blob/aa6112e7fae894ebc2f1e0fb1bb2cc6f5bd342ee/src/Microsoft.MobileBlazorBindings/Elements/Handlers/ElementHandler.cs#L142-L146

Because of implicit conversion from _MenuItem_ to _ShellMenuItem_, our _menuItem_ is not in the _parentAsShell.Items_. Instead, _Items_ contains _ShellMenuItem_, which

[2020-11-05 22:45] Eilon commented on #220
Oh nice catch! Definitely a bug.

[2020-11-06 04:50] arivera12 commented on #218
[Repro.zip](https://github.com/xamarin/MobileBlazorBindings/files/5499144/Repro.zip)

[2020-11-06 08:00] jspuij commented on #212
Finally the nail in the coffin for this route: the javascript oidc client does an authenticaion check inside an iframe all in javascript. This is why we are losing the authentication state and this is why the android and iOS browsers experience delays. There is no way to feed that redirect back to the browser. It's an XHR request. Capturing it and handling it from .NET is not possible. Interopping

[2020-11-06 13:25] arivera12 commented on #218
That zip is an existing blazor app that I am porting to MBB 😁 it's fully ported but I need to get this error fixed!

[2020-11-06 13:27] arivera12 commented on #218
On debug the app gets partially rendered but throws that error anf crashes on android 😢

[2020-11-06 13:34] AmirImam opened #221 "How to display images in hybrid web view"
Hi
I want to display image in razor page in web view. I tried to set the image in wwwroot folder in class library project, then in wwwroot in android project, and finally in resources in android, but always the image not displayed (not found)
I want to know where I have to set the images, and how to display it and use it as css background-image

**Edit:**
I tried to wirite the src like that "_cont

[2020-11-06 16:38] arivera12 commented on #218
Investigation Note:

It's seems its a bug related with the `IJSRuntime`.

I commented all services that uses `IJSRuntime` and the issue it's gone.

[2020-11-06 18:07] Eilon commented on #221
Indeed, the image would typically be in the shared project that has the Razor files in the `wwwroot` folder (or a sub-folder of it), and then you reference it like `_content/PROJECT_NAME/image.png`.

[2020-11-06 18:07] #221 closed

[2020-11-06 23:02] arivera12 commented on #218
It's seems I have found a few issues also not related to this one, I am enumerating them in the meantime. Also have some ideas for enhancements.

[2020-11-07 03:52] arivera12 opened #222 "Virtual keyboard goes on top of input without option of scrolling"
I am able to scroll the page on regular browser but on BlazorWebView is not possible.

![Screenshot_20201106-234922](https://user-images.githubusercontent.com/5600102/98431360-f69d1f00-208a-11eb-95ff-7fb173bd5150.jpg)

[2020-11-07 17:24] sake402 commented on #203
Hi @Eilon  Please confirm if this problem is resolve in the 0.5 preview.

[2020-11-07 19:07] TrieBr commented on #212
Would redirecting (instead of an iframe) help with the issue? This is also a problem on Web clients for certain identify providers which block iframes via `X-Frame-Options deny` (see: https://github.comdotnet/aspnetcore/issues/22343#issuecomment-708477026). Seems like another case for the interop to support an option to use `signinRedirect` instead of `signinSilent` in https://github.com/IdentityM

[2020-11-08 08:02] jspuij commented on #212
@TrieBr Thank you for your comment. It would be an option to just remove silent authentication altogether, but this would mean (especially on reload, which might happen during memory pressure when your app is restarted, or during navigation to an external page outside the app scheme and back, that blazor would restart and you would auto redirect to the login provider. Or we just don't check the au

[2020-11-08 09:23] ktaze1 commented on #203
For files, why don't you use Xamarin Essentials? It's way easier. Here is a link to my repo on how I used it. I've a button which has an OnClick event handler to call `Select Files` method. Method looks like this:

[code]

https://github.com/ktaze1/CugemderMobileApp/blob/d776a3f49a6b30e9f3eb44133b44961fca2f7f5e/CugemderApp/WebUI/Pages/Authentication/Register.razor#L44

[2020-11-08 11:55] sake402 commented on #203
@ktaze1 Thanks for your response.
As I mentioned earlier, it is an existing project in a razor class library that is entirely unaware of xamarin and I do not want it to be dependent on xamarin as it is also being used in server and web assembly.

I fixed the issue by modifying the source code of MBB as iterated in my question. I would love the fix applied to MBB

[2020-11-09 15:49] arivera12 commented on #211
I hit this issue also, a clean up and rebuild wasn't enough for me. I manually deleted the folders `obj` and `bin` and then rebuild and then everything worked as expected. I seems like `wwwroot` folder on android project is not being updated for some reason.

[2020-11-09 15:54] jspuij commented on #211
It seems even worse. It seems Xamarin does some sort of dynamic changes of the APK inside the emulator (or phone) to quickly build that does not work correctly. I've had static resources from project 1, end up in project 2 and vice versa. obj / bin folder deletion works, but also uninstalling the app from the simulator / phone works. In both cases a completely new apk is generated and transfered.

[2020-11-09 15:56] jspuij commented on #211
It seems it's called https://docs.microsoft.com/en-us/xamarin/android/deploy-test/building-apps/build-process#fast-deployment

[2020-11-09 16:04] arivera12 commented on #218
### Solution Feedback.

It's seems for some reason but I haven't still went deeper but some libraries that uses `jsruntime` and interop with some browser specific capabilities or features may raise this error.

In my case was the browser storage so I needed to reimplement this on platform specific storage code for example `SecureStorage` from xamarin essentials.

I already fixed this issue reimple

[2020-11-09 16:06] arivera12 commented on #211
True I also deleted the app from phone and worked without obj/bin deletion.

[2020-11-09 16:14] jspuij commented on #211
I've found my mystery issue with the static resource swap: Both projects used the same android package id as they were copied samples. it seems our wwwroot.zip does not end up in /data/data/@PACKAGE_NAME@/files/.__override__. during transfer to the emulator in the build process.

[2020-11-09 17:43] Eilon commented on #218
I'm re-opening to see if we can at least make this experience a bit better. I think that at a minimum we could have the exception with a better message. But perhaps we can just fix this somehow?

[2020-11-09 17:47] Eilon commented on #203
Hi @sake402 we didn't do any specific fix for this in Preview 5 so it's probably still not working.

[2020-11-09 17:48] Eilon commented on #222
On Android you can collapse the keyboard by pressing the Back button or usually there's some other keyboard-close action you can take. But I think I've seen this before and it's quite annoying. I haven't looked into how to fix it but I'm sure there must be a way.

[2020-11-09 18:02] Eilon commented on #84
@papyr I'm sorry that's not something I can provide. That might be better suited for hiring a consultant who can offer such services. If you're having any _specific_ technical problems, or if you find a bug, or have a feature suggestion, this would be a great place to post it.

[2020-11-09 18:02] #84 closed

[2020-11-09 19:57] arivera12 commented on #222
Yup it quite annoying, pressing the back button collapse the keyboard but once you focus an input it gets on top of the input again, this need to be workarounded somehow, its makes a form navigation and entry quite imposible, not sure how ios behaves on this one...

[2020-11-09 19:59] arivera12 commented on #218
A descriptive message on where this error ocurred with a stacktrace should be enough.

[2020-11-09 20:00] Eilon commented on #222
Oh so in this case you _want_ the input to be focused but the keyboard is hiding it? So ideally the input would "scroll up" a bit at least temporarily?

[2020-11-09 20:02] arivera12 commented on #222
Having scrolling capabilities can be considered a fix, but the way this should work is once I focus an input, keyboard should position below the working/focused input.

[2020-11-09 20:04] arivera12 commented on #222
In that screenshot I shared page has no scrolling capabilities, on regular mobile browser it has scrolling capabilities so we should behave like regular mobile browsers do.

[2020-11-09 20:07] arivera12 commented on #222
Yes, is hiding it and is on top of it without scrolling capabilities

[2020-11-09 20:12] arivera12 commented on #222
I think this issue should be considered a bug because it makes any form with no way to fill them without looking the current focused input. I am not able to see the password field on that login form when it's focused...

[2020-11-09 20:13] Eilon commented on #222
Yeah I agree it's a bug I'm just not sure where the bug is. Ideally apps shouldn't have to do much to support this because it's an extremely common scenario. But is it an issue in Mobile Blazor Bindings? In Xamarin.Forms? Somewhere else?

[2020-11-09 20:16] arivera12 commented on #222
I think the bug resides MBB on the BlazorWebView component. It's needs to react to any focused input.

[2020-11-09 20:23] arivera12 commented on #222
Hmmm take a look of this...
https://www.xamarinhelp.com/accommodate-on-screen-keyboard-xamarin-forms/

[2020-11-09 20:27] Eilon commented on #222
Oh well that looks easy 😄

[2020-11-09 20:28] arivera12 commented on #222
There is a bug with android it's seems...

[2020-11-09 20:31] arivera12 commented on #222
Not sure if the shared link may help or resolves this issues but it's seems to be related somehow.

[2020-11-09 20:33] arivera12 commented on #222
Related

https://forums.xamarin.com/discussion/87176/windowsoftinputmode-doesnt-work-in-xamarin-forms-android

[2020-11-10 14:50] musictopia2 commented on #211
I did not even use the emulator when I had the problem.  I used the real android device.  Emulators I could not even get to work which is a xamarin forms issue, not mobile bindings.

[2020-11-10 20:18] Dreamescaper commented on #220
I would suggest to refactor it (after #219 is merged), and to add method `GetChildIndex` to `IXamarinFormsContainerElementHandler` interface. This each parent handles own childred instead of having huge method handling every possible parent.

And it would allow to use same code already implemented in #219 . Cause we have same ShellMenuItem issue here, I'd like to avoid having reflection calls here

[2020-11-10 20:42] Eilon commented on #220
Yeah that sounds good. I'm running into an issue in my tests that might be a Xamarin.Forms issue so I'll have to look closer. I'm dynamically adding all kinds of Shell-related items and with some of them something isn't too happy:

![image](https://user-images.githubusercontent.com/202643/98731150-2598e680-2352-11eb-9c7a-30ef03218a40.png)

[2020-11-10 20:48] Eilon commented on #220
This might be because Blazor creates things outside-in, one at a time, and parents them to their containers. So it creates a new ShellContent (which is empty), adds it to the parent Tab, and then adds the children to the empty ShellContent. But Xamarin.Forms doesn't like an empty ShellContent.

Assuming this is the case, we've had this issue before with DummyShellItem where a temporary item was ad

[2020-11-10 21:06] markzielinski opened #223 "BlazorHybrid WebView does not render"
I'm having an issue where the WebView is not rendering correctly when using the default BlazorHybrid application.

The error message is:
It looks like the webpage at http://0.0.0.0/ might be having issues, or it may have moved permanently to a new web address.
ERR_ADDRESS_INVALID

I'm using the latest Windows 10 insider preview build (20251.1) with the latest Mobile Blazor Bindings template (0.5.5

[2020-11-10 21:07] Eilon commented on #217
BTW I doubt this is a regression because this scenario was never well tested before. I think this PR is a huge step forwards in the design and implementation so depending on how things go, we could take this PR after I do a bit more testing, and leave the rest for a follow-up investigation.

[2020-11-10 21:12] Eilon commented on #223
Well that's not good!

Can you try running the app in the debugger with _ALL_ CLR exceptions caught?

![image](https://user-images.githubusercontent.com/202643/98734133-63980980-2356-11eb-906c-1113f96d1d4b.png)

[2020-11-10 21:19] Eilon commented on #217
I pushed a change that adds a Remove button as well. Weirdly, you can remove & add tabs, but you can only _remove_ shell contents! Adding shell contents is not allowed.

[2020-11-10 22:15] markzielinski commented on #223
I made that change and I don't see any differences.   If I click on the increment button it does show an Unhandled exception with "One or more errors occurred. (Render was called before InitAsync)".

There are some compile warnings for:
Xamarin.Forms recommends TargetPlatformMinVersion >= 10.0.14393.0 (current project is -1)
Xamarin.Forms recommends TargetPlatformVersion >= 10.0.17763.0 (current p

[2020-11-10 22:35] Eilon commented on #223
Yeah once Blazor fails to load you'll get an exception on almost anything you click, so that failure is expected.

We'll have to take a look at this because usually there would be some exception somewhere.

This is just the 100% default template, or were any changes at all made?

[2020-11-10 22:52] markzielinski commented on #223
Yes exactly, I didn't make any changes and this is the default template for blazorhybrid.

[2020-11-10 23:06] Eilon commented on #223
Well that's definitely weird so we'll take a look at this. By all accounts your setup should be fine but clearly there's something missing here.

[2020-11-10 23:45] #217 closed

[2020-11-10 23:49] Eilon commented on #217
Thank you so much @Dreamescaper for taking the initiative on this change and coming up with a terrific solution!

[2020-11-11 00:22] markzielinski commented on #223
OK, I have this working without any issues now.  I had all of the Edge insider previews installed and once I removed the beta preview it immediately worked.   Once I reinstalled the beta preview I had the same problem again.  It seems like somehow the beta preview is taking precedence over the canary preview.

[2020-11-11 10:41] bddckr commented on #223
I had the same issue just now, also with just the `blazorhybrid` template used with no modifications.

I'm on Windows 10 and had the WebView2 runtime installed (version 86.0.622.63 it said in Control Panel). I had no Edge Beta, Dev or Canary installed.

To workaround the issue I've installed Edge Dev and it's working fine now.

[2020-11-11 17:54] Kukks opened #224 "Android Hybrid Template throws exception"
ran
[code]
and then ran the android project and got this
![image](https://user-images.githubusercontent.com/1818366/98846452-51e65d00-244f-11eb-9f69-13213b34c774.png)

[2020-11-11 18:46] Eilon commented on #224
Oh gosh that looks familiar but I don't recall what that's about. No changes at all in the project, or did anything change after you created the initial template?

[2020-11-11 19:01] AmirImam opened #225 "Android back button in hybrid closes the app"
Hi,
of course the normal behavior is close the app on back button, so how to avoid this action and make it go to the previous page ?

[2020-11-11 19:05] Kukks commented on #224
Brand new, no changes. I've tried to update to the nightly builds but no luck

[2020-11-11 19:21] Eilon commented on #224
Got it, we'll take a look!

[2020-11-11 19:21] Eilon commented on #225
Ah, you want Android Back button to navigate back in the Web View of the hybrid app?

[2020-11-11 19:22] AmirImam commented on #225
Yes exactly

[2020-11-11 19:55] Eilon commented on #225
Got it, we'll have to take a look at this, I'm sure there's a way to do it.

[2020-11-11 21:30] juanjfrancisco opened #227 "Android.Content.Res.Resources+NotFoundException"
Hi, error running in Android 6.0 - API 23, when trying to select an option from a select tag element.

**To reproduce the error:**

1. Create new hybrid project with template :0.5.50-preview.
 dotnet new blazorhybrid -o FirstBlazorHybridApp

2. Open the counter.razor or any component and add a new html select like:
<select>
    <option value="1">Option 1</option>
    <option value="2">Option 2</op

[2020-11-11 23:05] juanjfrancisco commented on #222
Hi.
@arivera12 , the way I fixed that was adjusting the keyboard size with this code:

**Android:**
On the share project in the App.cs class:

`Xamarin.Forms.Application.Current.On<Xamarin.Forms.PlatformConfiguration.Android>().UseWindowSoftInputModeAdjust(WindowSoftInputModeAdjust.Resize);`

It looks like this:
![image](https://user-images.githubusercontent.com/3849388/98874186-1f892f80-2450-11eb

[2020-11-11 23:52] Eilon commented on #227
Oh boy that's not good, we'll take a look! Thank you for the report!

[2020-11-12 05:42] Kukks commented on #155
I've created a repo at https://github.com/Kukks/Hara that allows you to share a blazor app with MobileBlazorBindings and Blazor WASM/Server. Included is also integration with Livesharp, which gives you hot reloading on all platforms for both frontend and backend code.

[2020-11-12 10:06] Kukks commented on #224
After updating my IDE to
JetBrains Rider 2020.3 EAP 6
Build #RD-203.5600.6, built on November 4, 2020
it started working!

Very confusing that there are IDE specific bugs like this and #196

[2020-11-12 13:53] arivera12 commented on #222
@juanjfrancisco I will give it a try

[2020-11-12 16:48] Dreamescaper opened #228 "Black screen instead of exception page"
In most cases for me when exception happens I simple see fully black screen. I see some text when try to scroll the page, but that doesn't help.
That makes debugging hell of a lot harder, considering that exceptions are not logged anywhere else!

I'm trying to find concise repro case for this behavior.

<details>
<summary>Details</summary>

![Mryhbqn1HZ](https://user-images.githubusercontent.com/1

[2020-11-12 17:53] Eilon commented on #224
Ah yeah it could be Rider is doing something different with how the app is deployed/run in terms of current directory, and that could certainly affect startup errors like this. That class seems to do a bit of work at startup to initialize some JSON content and if it can't find the various DLLs to load, it'll throw, and the app won't start.

[2020-11-12 17:54] Eilon commented on #228
Oh I wonder if this is related to dark/light mode? That's probably a bug in the default error screen.

Or, it kind of looks like you've entered The Matrix! (But with blue text instead of green.)

[2020-11-12 18:00] Dreamescaper commented on #228
No, not related to dark/light mode.
Under some conditions it's ok, sometimes like that with same device settings.

[2020-11-12 18:08] Eilon commented on #228
Hmm that's quite odd then. I think for that screen it might not set all the foreground/background colors and if you're in dark/light mode that can create bad combinations (e.g. black on black). That's usually the problem when I see such problems.

[2020-11-12 18:10] Eilon commented on #228
This is the error UI:

https://github.com/xamarin/MobileBlazorBindings/blob/master/src/Microsoft.MobileBlazorBindings/ErrorPageHelper.cs#L24-L55

Looking at it now, I don't see any colors set at all, so this is certainly odd. But maybe setting explicit colors is best to avoid any risk of inheriting some bad color combinations from something.

[2020-11-12 18:11] Dreamescaper commented on #228
Sometimes I get the opposite - simple white screen, nothing else.

[2020-11-12 18:12] Eilon commented on #228
I'm guessing it's doing black on black and white on white. I think setting explicit colors is the right approach.

[2020-11-12 18:12] Eilon commented on #228
It would be nice to be theme-aware using a little helper like this:

https://github.com/Eilon/Rezipe/blob/master/src/Rezipe/RezipeBaseComponent.cs#L29-L32

[2020-11-12 18:34] Dreamescaper commented on #228
OK, I see that I get simple white screen when my Shell fails to create, and I had no this line in my App:
`MainPage = new ContentPage();`

(didn't think that it mattered).

But adding this line fixed this particular issue - not the black screen though, so I keep digging.

[2020-11-12 18:46] Eilon commented on #228
Ah yes you need to set _some_ initial value for MainPage because all the Blazor stuff loads async. So you could have just an empty `ContentPage` or you could even put a splash screen there. The Blazor stuff loads very quickly (depending on the app) so there's usually not much to do aside from setting some default value.

[2020-11-12 18:50] Dreamescaper commented on #228
Yeah, I was just surprised that that line would affect error screen.
I mean, everything else works fine for me without that line.

[2020-11-12 18:51] Eilon commented on #228
Yeah that's certainly bizarre.

[2020-11-12 20:25] Dreamescaper commented on #228
Ok, so I get this black screen when I attempt to render EditForm component (the one for Web :) ).
It obviously wasn't able to render that (fails with KeyNotFoundException), and attempts to show Error page. I don't know why it fails to display it though.

I have seen such behavior under other conditions, but can't recall anything right now.

[2020-11-12 20:27] Dreamescaper commented on #228
However I checked that it does help to BackgroundColor to white explicitly.

[2020-11-12 21:17] rChavz commented on #223
if we comment the next lines in file Main.razor the button works fine

[code]

[2020-11-12 21:54] #228 closed

[2020-11-12 21:55] Eilon commented on #228
Thank you for sending the PR, it is now merged!

[2020-11-13 16:15] cornem opened #231 "Missing WebView events: Navigating / Navigated / ReloadRequested"
I'm trying to use a `WebView` for OIDC sign in. After logging in, the identity service redirects to another URL. In non-Blazor apps, I'd subscribe to the `WebView.Navigating` event to handle the redirect and read authorization codes or tokens.

However, these events appear to be missing in the `WebView` provided by `MobileBlazorBindings`. Is there a way to subscribe to this event currently?

Versi

[2020-11-13 18:10] Eilon commented on #231
Tagging @jspuij who is looking at auth.

@cornem - how are you using WebView right now, can you show a small code snippet?

[2020-11-13 20:01] AmirImam opened #232 "Hybrid throws error Access to the path '' is denied.'"
Hi
I tried to use [BlazorInputFile ](https://blog.stevensanderson.com/2019/09/13/blazor-inputfile/)library to pick file from device, it didn't work. After some searches I decided to use **Xamarin.Essentials.FilePicker** instead of input file and I had uninstalled **BlazorInputFile** library and deleted all it's files, but I couldn't run the project because it throws an error
`System.UnauthorizedAc

[2020-11-14 00:46] #127 closed

[2020-11-14 00:46] #190 closed

[2020-11-14 00:46] #209 closed

[2020-11-14 06:20] jspuij commented on #232
Yeah sorry, this is a known issue that unfortunately did not make it into the preview. Best is to wipe the app data ur uninstall and reinstall the app.

[2020-11-14 14:35] Dreamescaper opened #233 "Provide alternative to EditForm components for native controls"
I would love to be able to use same validations techniques as in Web Blazor, with DataAnnotationsValidator or third-party FluentValidator.

I'd expect it to be something like that:
[code]

Those controls should probably go to separate project, e.g. `Microsoft.MobileBlazorBindings.Forms` or `Microsoft.MobileBlazorBindings.Validation`.

[2020-11-14 14:52] Dreamescaper commented on #233
Some open questions.
- Naming.
All Web Blazor forms components have Input prefix. Does it make sense here, considering that <input/> component tag has no relation here?
EditForm would be a known name for developers with Web Blazor experience, but does it make sense here, considering that no <form> control will be rendered?

- Implementing those components as wrappers around original controls (e.g.

[2020-11-14 18:51] AmirImam commented on #232
I tried every thing. I cleared the storage and the cache, I renamed the package name and the application name, and finally uninstalled the app from the device, but the error still appears

[2020-11-14 19:32] jspuij commented on #232
You might also want to delete the empty folder _content/BlazorInputFile that sits in the bin\wwwroot that was left behind by the package. This empty folder is zipped and extracted onto the device.
So first make sure that the empty folder is gone, then rebuild, then uninstall. Finally you should be able to build and install again.

[2020-11-15 16:56] jburman opened #234 "Refreshing WebView does not re-render"
On Windows 10 using unmodified Hybrid template.  Right clicking in the web view and selecting Refresh or hitting F5 causes the web view to go blank.  Looking in the DOM the <app> element is empty.  I don't see any obvious errors occurring though.

[2020-11-16 02:17] thenrich2009 opened #235 "Can regular third party Blazor UI controls be used with MBB?"
Can regular third party Blazor UI controls be used with MBB or only the ones the come with the MBB package?
Controls like the ones from Telerik, DevExpress and SyncFusion.

[2020-11-16 05:28] Eilon commented on #234
Oh boy, this is probably fixed as of just a day or two ago thanks to @jspuij 's work!

You can try using the nightly feed per the info here: https://docs.microsoft.com/mobile-blazor-bindings/contribute/nightly-builds

And that will get you updated NuGet packages that most likely fix this very issue.

Would you mind trying that out and letting us know if it fixes your issue?

[2020-11-16 10:01] cornem commented on #231
@Eilon Here's what I typically do when using a `WebView` for authentication:

1. Call `PrepareLoginAsync()` on `OidcClient` (from `IdentityModel.OidcClient`)
2. This generates an instance of `AuthorizationState` with a `StartUrl` and `RedirectUrl`
3. Pass the `StartUrl` to the `WebView`, user will sign in on the web page
4. Identity provider redirects to `RedirectUrl` when sign-in has completed

I

[2020-11-16 10:39] jspuij commented on #231
Hi @cornem. The Navigating and Navigated events are indeed not exposed ATM. We will expose them in the future. A few things need to happen for that:

1) The events need to be exposed on the (Blazor) Webview component.
2) The renderers need to be fixed to actually trigger the events. ATM only the Android renderer will properly trigger the Navigating and Navigated events. This is because the Android

[2020-11-16 14:08] jspuij commented on #235
Duplicate of #214

[2020-11-16 16:19] jburman commented on #234
Ok, updated to 0.6.6-preview and it does appear to be fixed.  Thanks for the update!

[2020-11-16 16:19] #234 closed

[2020-11-16 17:10] thenrich2009 commented on #235
Why is this a duplicate? This question is about third party Native Blazor UI controls. It's not about third party JS UI controls and JS interop. There's no JS interop.

[2020-11-16 17:50] Eilon commented on #234
That's great to hear, thank you for trying it out!

[2020-11-16 17:53] jspuij commented on #235
Sorry, missed the JS distinction. Anyway, the answer is the same: yes, they should work. I would not buy a license based on this preview, but if you already have the license for normal Blazor, go ahead.

[2020-11-16 17:59] thenrich2009 commented on #235
I was looking at the code for the Rezipe app. All the html tags even the Label tag used are defined in the MBB package so I was wondering whether an MBB app can use a regular Blazor UI component.

I have a third party UI controls license.

[2020-11-16 18:03] jspuij commented on #235
The rezipe app is an app that uses native xamarin forms controls. What you need is a blazor hybrid app that uses a webview to display web content written in html, css, and javascript. More info here:  https://docs.microsoft.com/en-us/mobile-blazor-bindings/walkthroughs/build-first-hybrid-app

[2020-11-16 18:46] thenrich2009 commented on #235
The UI controls used by Rezipe are defined in the MBB package. In the Element class. I will be checking it further later.

[2020-11-16 19:51] jspuij commented on #155
Very nice!

[2020-11-16 19:58] cornem commented on #231
I can confirm the stuff above works on Android, haven't tested it on iOS, but I conclude from your comment that won't work. I wasn't aware of the `WebAuthenticator` and I'll look into that.

[2020-11-16 20:01] cornem opened #236 "Simple Animations in MBB"
The [ViewExtensions](https://docs.microsoft.com/en-us/xamarin/xamarin-forms/user-interface/animation/simple) class provides extension methods that can be used to construct simple animations. However, this doesn't seem to work with MBB components. Is there any way to make this work ATM, or guidance on how it could be made to work?

[2020-11-16 20:01] jspuij commented on #231
I have an initial implementation of Autb in #215. It's just not finished yet, but will take a week or two more. Then it will be part of MBB.

[2020-11-16 20:19] Eilon commented on #236
Actually, you should be able to use those! Because they work on the Xamarin.Forms controls and not the Blazor components, you'll need to [access native controls](https://docs.microsoft.com/en-us/mobile-blazor-bindings/advanced/access-native-controls). Once you have the native control (such as `Xamarin.Forms.Image`), you should be able to use any of those extensions.

[2020-11-17 04:23] skclusive commented on #224
i get the same error with the same steps with newly created project for Andriod only. using Visual Studio Mac.

please share if there are any workaround available. thanks.

[2020-11-17 04:26] skclusive commented on #224
issue is only with Hybrid Apps. default mobile blazor binding app works in Andriod.

[2020-11-17 07:53] #236 closed

[2020-11-18 10:38] jspuij commented on #212
@ktaze1 This is because it cannot check the authentication state online as the request is blocked. See https://github.com/xamarin/MobileBlazorBindings/issues/212#issuecomment-722936711

ATM I'm moving away from using an embedded webview for authentication, using OS primitives instead on the mobile platforms. This authentication will use the .NET oidc client instead of the javascript one. Expect th

[2020-11-18 23:24] Eilon opened #237 "Make templates show up properly in VS/VS Mac"
We want the templates to show up properly in VS and VS for Mac instead of being command-line only.

Here's what we want:

![image](https://user-images.githubusercontent.com/202643/99600363-236a0400-29b2-11eb-898a-6dd1c3e2af5c.png)

[2020-11-18 23:24] brunoprietog commented on #41
Hi! I am delighted with this. Is there any news?

[2020-11-18 23:27] Eilon commented on #237
For future reference and for anyone else interested, these are rare and valuable resources for creating dotnet new templates beyond the existing official docs:

* Template samples and info: https://github.com/sayedihashimi/template-sample
* Template analyzer: https://twitter.com/sayedihashimi/status/1326622265144905731

[2020-11-18 23:40] #237 closed

[2020-11-18 23:41] Eilon commented on #237
Note: You need the latest preview version of VS for the templates to install properly or else VS could hang. The template ends up getting created, but VS hangs and doesn't let you continue. So kill and restart VS and you should be able to use the new project. The latest previews have this issue fixed.

[2020-11-19 00:05] Eilon commented on #237
To get them to show up in the New Project dialog you must go to Options/Environment/Preview Features and enable `Show all .NET Core templates in the New project dialog`:

![image](https://user-images.githubusercontent.com/202643/99603271-cf621e00-29b7-11eb-903a-bd7b41925f5f.png)

[2020-11-20 08:07] Daddoon commented on #155
I may have missed the train (and also overwhelmed by work theses last weeks !) but what did Mobile Blazor Bindings do not do out of the box for the one code all platform experience ? Is it about interop and DI, or is it about some kind of build workflow ?

I'm asking because if there is a big gap but somehow reached by Mobile Blazor Bindings on one side and one BlazorMobile on some other sides, it

[2020-11-20 08:25] jspuij opened #238 "Create templates that include WASM and SSB as platforms."
Due to popular demand we should probably include WASM and SSB as platforms in some of the hybrid templates . I've read too many times that this would not be possible.

Unfortunately the Blazor templates are pretty complex with wasm/hosted and SSB variants and all auth options (which we would have to combine with our own Auth implementations). This might not be a trivial issue.

[2020-11-20 08:26] jspuij commented on #238
I also want to acknowledge the work done by @Kukks as he has created a very nice template which can be cloned and used today:

https://github.com/Kukks/Hara

[2020-11-20 08:59] Kukks commented on #155
The killer feature in MobileBlazorBindings is being able to run backend and frontend in one process(so that means no http communication to do interactions) and not running via WASM on the mobile platforms  (I can use Xamarin features directly in Blazor components if I wanted to without js interop).

[2020-11-20 09:10] Kukks commented on #238
It was actually not too hard to do out of the box once #129 was done. The biggest hurdle is service implementation differences that need to be handled but that should probably be out of scope for a template.

There's also the issue that I think many of the Xamarin.Essentials implementations do not support Mac or Windows. In some scenarios, implementing the WASM/Server version and embedding it in E

[2020-11-20 09:23] jspuij commented on #238
You are correct about the missing implementations in Xamarin Essentials sometimes. At least we will be supplying authentication and protected storage as APIs in MBB in the next version, that will work on Windows and macOS ;-)

[2020-11-20 09:32] Kukks commented on #238
For example, to support biometric auth, I will be using WebAuthN on SSB and WASM and https://github.com/smstuebe/xamarin-fingerprint for Xamarin. This would leave WIndows and Mac out of the loop(even though WebauthN on a browser in windows hooks up to native apis) :/

I'm curious to see the authentication flow and if it would allow for custom flows to work that don't follow OAuth.

For protected s

[2020-11-20 09:52] jspuij commented on #238
There is this for windows: https://github.com/takuya-takeuchi/WinBiometricDotNet. (2 years old though). It seems xamarin-fingerprint supports macOS.

[2020-11-20 13:35] arivera12 commented on #238
SSB and WASM may use the same encryption technique, I use a custom encryption method with browser local storage anf OFC xamarin.secure storage when running on native device. Btw you may need to do interfaces to abstract from platform implementation and provided separated services for each platform as best practice as far I can see.

[2020-11-21 10:10] Daddoon commented on #155
@Kukks Thanks for your feedback, also i had some additionals info from @jspuij on my repository about this question yesterday.

It seem that there is nothing that is missing today on Mobile Blazor Bindings for a crossplateform scenario. If i have understood the only missing thing is an official template with already everything configured for this kind of project / model share, but nothing impossib

[2020-11-21 11:05] Kukks commented on #155
Yes, I think everything is there. Any limitations I've found are from xamarin itself not this library. I do think additional templates with wasm embedded in electron would be beneficial too.

[2020-11-22 13:59] Dreamescaper opened #240 "Allow customizing default unhandled exception handler"
I would like to be able to override default error screen behavior - probably by implementing IBlazorErrorHandler (not sure why is that in Microsoft.MobileBlazorBindings.WebView project now), and providing it somewhere.

[2020-11-22 16:50] Kylar182 opened #241 ".Net 5 and Blazor / HTML Only"
You mentioned in the .Net Conference for 5 you were working on an HTML only implementation. Basically I'm looking to simply port my current Blazor app straight into this. No offense to devs that like XAML but I feel like they all have Stockholm syndrome. I hate it to the core of my being. Blazor in .Net 5 is Godlike though. I'm posting this solely so I have something to track until the aforementio

[2020-11-22 17:01] AmirImam commented on #232
Thank you it worked.
I realized that is my mistake to use hybrid mobile blazor bindings for a full project now, but I'm really in a hurry to use it, so I switched to xamarin forms right now

[2020-11-22 18:26] jspuij commented on #241
Unfortunately if mono in Xamarin iOS, macOS and Android are not updated to support the net5 target, we cannot upgrade. It's not only Xamarin Forms, we need a runtime that runs on the mobile and supports net5.

[2020-11-22 19:52] Kylar182 commented on #241
Okay, I'll wait. Project runs great in .Net 5 now. Native would just be extra icing on the cake.

[2020-11-22 22:35] dcuccia commented on #241
Looking forward to this milestone!

[2020-11-23 07:34] jspuij commented on #240
In Hybrid Blazor? You can by binding an IBlazorErrorHandler implementation to the ErrorHandler parameter on the BlazorWebView component:

https://github.com/xamarin/MobileBlazorBindings/blob/master/src/Microsoft.MobileBlazorBindings/Elements/BlazorWebView.cs#L30

[2020-11-23 07:41] Dreamescaper commented on #240
Nope, I'm mostly interested in same for native components.

[2020-11-23 07:45] jspuij commented on #240
And that totally makes sense! I'll tag @Eilon to look at this. It seems trivial to move IBlazorErrorHandler to Microsoft.MobileBlazorBindings and find a way to expose it to the outside world (Either through the DI container or on a registration method during composition.

[2020-11-23 08:26] jspuij commented on #218
I've had this error and it usually happens because IJSRuntime is resolved too early (while it isn't initialized yet), or when it is resolved from the wrong scope (the root scope). There are a few WebAssembly libraries out there that trigger this because they were never really tested with anything other than webassembly. (Where most services are registered as singleton instead of scoped).
It might

[2020-11-23 08:27] jspuij commented on #189
Closing this as we will not fix number 2 (we have documented it) and have had no complaints (other than the fast deployment) about the build tasks.

[2020-11-23 08:27] #189 closed

[2020-11-23 09:16] Dreamescaper commented on #240
We can't move IBlazorErrorHandler to Microsoft.MobileBlazorBindings, because that will introduce circular dependency.
While we can easily move it to Microsoft.MobileBlazorBindings.Core instead, I would prefer to move all hybrid related staff to Microsoft.MobileBlazorBindings.WebView, and remove that dependency from Microsoft.MobileBlazorBindings (so that I wouldn't have to import all Web related s

[2020-11-23 13:35] arivera12 commented on #218
@jspuij this makes sense, even if I could not debug this when I hit this error, I removed libraries that did some initializations using the IJSRuntime and error dissapeared.

[2020-11-23 15:32] jspuij opened #242 "Implement MSAL authentication."
Now that OIDC authentication is done, we need to implement authentication based on MSAL.NET

[2020-11-23 19:15] Eilon commented on #218
@arivera12 I think if there's a case where an existing JS library doesn't work we would assume at first it is a bug in Mobile Blazor Bindings, and only after investigation make a final determination. There are surely _some_ things that will never work in MBB because they might assume a particular browser behavior that only exists in a full browser and not in a WebView, but I'm hoping that there ar

[2020-11-23 19:18] Eilon commented on #240
Hmm definitely some interesting ideas here, will have to think about the layering. Much of the layering here is "for convenience" so that 99.99% of projects can reference 1 NuGet package and it pulls in everything you need. Of course, it's always going to be more than you need because no one needs everything. At some future point we'll definitely reconsider the overall layering so that projects ca

[2020-11-23 19:20] Eilon commented on #232
Re-opening so that we can see if there's something we can fix here.

@AmirImam - this is an experimental project right now so Use At Your Own Risk. There are a lot of missing features and scenarios that we will need to consider before any release. You are certainly _allowed_ to use Mobile Blazor Bindings anywhere you like, but it's in an early stage and many things will likely change in the future

[2020-11-23 20:33] Dreamescaper commented on #240
App trimming will help with app size, but not with cluttered IntelliSense.

I'd like to handle some custom ApiExceptions in different way (probably showing some alert with more or less friendly message), plus I'd like to avoid showing exception details in non-development builds.

[2020-11-23 21:13] Eilon commented on #240
So you want to be able to "handle" certain errors, and not just show a different (nicer) error message? Right now once the error gets to the error handler the app is considered "dead" but I think we can easily change that.

[2020-11-23 22:01] jspuij opened #244 "Upgrade to GA version of Webview2"
WebView2 is GA. We might want to target an SDK version that matches a GA version and write new instructions on bundling the WebView2 runtime bootstrapper / installer.

https://blogs.windows.com/msedgedev/2020/11/20/announcing-general-availability-of-microsoft-edge-webview2-for-net-and-fixed-version-distribution-mode/

[2020-11-24 07:08] Kukks opened #245 "Allow overriding blazor root component seelctor"
It is currently hardcoded to `app`.
[code]
https://github.com/xamarin/MobileBlazorBindings/blob/master/src/Microsoft.MobileBlazorBindings.WebView/BlazorHybridRenderer.cs#L57

When integrating some UI frameworks, such as Ionic, they require that their root element is `ion-app`. When changing to this, the following error is present (a more subtle one is in the nightly version):
![image](https://user

[2020-11-24 19:43] jspuij commented on #224
I'm pretty sure it has got to do with the fact that somehow on some platforms a newer version of System.Memory is pulled in from nuget instead of from the framework (it should pickup the framework version. I.E. the mono or .net core versions, never the nuget). The nuget version does not contain the new Span<T> and Memory<T> types that System.Text.Json needs.

We add a package reference to each and

[2020-11-25 01:49] outdomleap opened #248 "How can to hide shell header navigator?"
![image](https://user-images.githubusercontent.com/65535691/100172497-0aee7200-2efb-11eb-8345-ad2b30404f61.png)

[2020-11-25 08:05] jspuij commented on #248
You should be able to use  `Shell.SetNavBarIsVisible(<contentpage>, false)` on the (probably) contentPage that is loaded; You might need to create a [reference ](https://docs.microsoft.com/en-us/mobile-blazor-bindings/advanced/access-native-controls#accessing-native-xamarinforms-controls-from-blazor-components )to the native control to be able to access the content page from the `@code{}` section.

[2020-11-25 08:53] Dreamescaper commented on #248
You can take a look at example here: https://github.com/xamarin/MobileBlazorBindings/issues/11#issuecomment-720249046

(You need `SetNavBarIsVisible` instead of `SetTabBarIsVisible`)

[2020-11-25 16:06] Dreamescaper commented on #11
@Eilon
What do you think about creating component `ShellProperties` with handler implementing `INonPhysicalChild`, which sets Shell attached properties for parent?
Something like that:
[code]

(I would prefer it to be nested Shell type, so it would be `<Shell.Properties />`, but blazor does not support that https://github.com/dotnet/aspnetcore/issues/20765)

[2020-11-26 01:46] outdomleap commented on #248
when i follow that step it show error like this

![image](https://user-images.githubusercontent.com/65535691/100298467-cbd82380-2fc3-11eb-8419-a4befac129b8.png)

[2020-11-26 05:13] Dreamescaper commented on #248
Could you share your razor file?
Note that you you need to access NativeElement after first render, otherwise it's not created yet.

[2020-11-26 07:58] outdomleap commented on #248
Okay now it working

Thank you!

[2020-11-26 11:35] lachlanwgordon opened #249 "Picker/Pattern for passing object references through the render tree builder"
There's currently no picker, but I want there to be.

The challenge to making a wrapper around the Xamarin Forms Picker is that it needs a List of items, but the RenderTreeBuilder can only pass strings and callbacks. I came across this when trying to work on CollectionView, but that's got other complications too.

I've found a solution, but I'm not sure if it's a good one, or if it's a hack that s

[2020-11-26 16:32] Dreamescaper commented on #249
I'm just thinking how regular Blazor solves this thing?...

Another thing - we can we provide this value as a callback (smth like  `_ => value`)?

[2020-11-26 16:48] Dreamescaper commented on #249
Another idea.
Would it be possible to render all Xamarin controls as Components instead of Elements?
Blazor does not apply any conversions for attributes for Components, so that would make AttributeHelper redundant altogether.

[2020-11-27 08:17] lachlanwgordon commented on #249
Thanks for your ideas @Dreamescaper, you're probably right about the callback, I'll give that a shot and see how it turns out.

I'm not quite sure what you mean with using components instead of Elements, but you might be on to something. Hmm, We could make a component, which uses the SetParameter to pass around objects, but then inside that would we still need an element?

I don't think this is th

[2020-11-27 08:32] Dreamescaper commented on #249
I was thinking whether it is possible not to use Blazor elements at all  (i.e. to use OpenComponent instead of OpenElement on TreeBuilder), and managing Xamarin elements at part of components lifecycle.
But my Blazor internals knowledge is not enough to know whether it is possible and how hard would that be.

[2020-11-28 04:39] outdomleap opened #250 "How can Implementing Grid with FlowListView?"

[2020-11-30 03:30] outdomleap opened #251 "ModalContainer OnClose not work in 0.6.7-preview (nightly feed)."
Please everyone help to solve of this problem.

[2020-11-30 20:04] jspuij commented on #212
The callback Url schemes are not unique on android, so you get a popup requesting which application to redirect to in case you have two applications installed with the same scheme.

[2020-11-30 20:06] jspuij commented on #212
Logout does not work on Native MBB application.

[2020-12-01 17:48] Eilon commented on #11
That is a very interesting idea!!! That is a very clever way to simulate attached properties. Definitely worth exploration!

[2020-12-01 21:03] #196 closed

[2020-12-01 21:03] Eilon commented on #201
Fixed in https://github.com/xamarin/MobileBlazorBindings/pull/246

[2020-12-01 21:04] #201 closed

[2020-12-01 22:19] Eilon opened #252 "Update PancakeView sample"
Mentioned in https://github.com/xamarin/MobileBlazorBindings/pull/247

[2020-12-01 22:43] #244 closed

[2020-12-02 00:00] Eilon commented on #248
Glad you got it working! And thanks @Dreamescaper for assisting!

[2020-12-02 00:00] #248 closed

[2020-12-02 00:11] Eilon commented on #251
Hi @outdomleap can you share more info about what isn't working? Are you getting an error? I tried the sample here and it works fine on the iOS Simulator: https://github.com/xamarin/MobileBlazorBindings/tree/master/samples/MobileBlazorBindingsTodoSample

[2020-12-02 00:13] Eilon commented on #250
Hi @outdomleap can you share more info about what you're trying to do?

[2020-12-02 04:46] lachlanwgordon commented on #249
@Dreamescaper, I think I've got what you're suggesting working. I've done a little more tinkering and have come up with something cool, that avoids using the dodgy dictionary by passing the list as a component parameter.

I now have a `PickerElement`. Which is wired up like any other MBB element but the end user(App Developer) won't use it, and there's no need to pass attributes through it.

[code

[2020-12-02 04:57] lachlanwgordon commented on #11
I like what I see here. If it works I'll copy it for FlexLayout.

[2020-12-02 05:03] lachlanwgordon commented on #250
You'll probably want to use a `CollectionView` or a `FlexLayout`, depending on your exact requirements. These are both in Xamarin.Forms but not mapped into Mobile Blazor Bindings yet. I'm looking into getting both of them going but there are challenges, so they might be a while off.

If you don't mind writting that component of your app in plain Xamarin Forms with XAML or C# you can get them going

[2020-12-02 13:12] Dreamescaper commented on #249
Btw, seems like approach with putting value as a callback is already used in MBB, see https://github.com/xamarin/MobileBlazorBindings/blob/master/src/Microsoft.MobileBlazorBindings/Elements/AttributeHelper.ImageSource.cs .

[2020-12-02 18:38] Eilon commented on #245
You'll be able to do this in `index.html`:

[code]

And then set the root component element selector in Blazor/XAML:

[code]

Or programmatically:

[code]

[2020-12-02 19:11] Eilon commented on #245
@Kukks a build just got pushed to the nightly feed with this change. Would you like to give it a try and see if it works for you?

[2020-12-02 21:41] Eilon opened #254 "Add ShellProperties for Shell's attached properties"
Implement a technique for supporting [Attached Properties](https://docs.microsoft.com/xamarin/xamarin-forms/xaml/attached-properties) and demonstrate it for Shell's supported attached properties.

[2020-12-02 21:44] #254 closed

[2020-12-02 21:51] Eilon commented on #254
How to do it:

1. Create a component that has all the properties
   * Example: https://github.com/xamarin/MobileBlazorBindings/blob/master/src/Microsoft.MobileBlazorBindings/Elements/ShellProperties.cs
1. Have the component's handler derive from `BaseAttachedPropertiesHandler` and set the properties on the `Target` using the attached properties' static setters
   * Example: https://github.com/xama

[2020-12-02 21:51] Eilon commented on #11
The attached properties idea from @Dreamescaper is in!

Thank you: https://twitter.com/original_ejl/status/1334253894772244482

[2020-12-03 08:49] DevCisse opened #256 "Working with a prepopulated SQLite database"
How do I grab data from tables of a prepopulated SQLite database?

[2020-12-03 11:29] lachlanwgordon commented on #249
Thanks for that, it's much cleaner than my other two approaches. PR's on it's way.

[2020-12-03 15:19] Kukks opened #257 "Android Hybrid: Loading local js/css results in "Failed to load resource: net::ERR_UNKNOWN_URL_SCHEME""
I can't for the life of me figure out this issue.

I am trying to load local JS/CSS files in a MBB Hybrid Android app using <link? and <script> tags but they fail with the error
`Failed to load resource: net::ERR_UNKNOWN_URL_SCHEME`

This is with `0.5.50-preview`. Code can be found on this specific branch https://github.com/Kukks/chaincase/tree/rcl

[2020-12-03 23:55] Eilon commented on #257
Hi @Kukks I am unable to run that project. I tried on both iOS and Android and it simply wouldn't load. Can you provide any more info about the error? Maybe use Chrome debugging tools to see what the URL was that failed? Or catch all .NET CLR exceptions while running under a debugger?

[2020-12-03 23:59] Eilon commented on #256
Hi @DevCisse I'm not sure I fully understand the question. Is there anything special about a pre-populated SQLite database? If it's the same as any other SQLite database then all the regular SQLite APIs should work.

There's a Todo App sample that uses SQLite: https://github.com/xamarin/MobileBlazorBindings/blob/master/samples/MobileBlazorBindingsTodoSample/MobileBlazorBindingsTodo/TodoItemDatabas

[2020-12-04 18:23] Dreamescaper opened #258 "Add support for CollectionView"
I decided to add item to discuss challenges and approaches to implement CollectionView.
I can see two issues straight away - supporting ItemsSource property and ItemTemplate property.

Supporting ItemsSource property was discussed in https://github.com/xamarin/MobileBlazorBindings/issues/249, and I think same approach with wrapping in delegate should work here as well.
The only thing - I'm not sur

[2020-12-04 22:17] DevCisse commented on #256
Yes, where would the database file be placed? Assests folder or shared project?

That aside, this https://youtu.be/aQtNynTLhl4 video helped me with the task.
[code]

[2020-12-05 04:13] DanGould commented on #257
@Eilon what do you mean by it won't load? I'm just getting a white screen but the html is available to me in the iOS debugging tools. Using the debugging tools it's showing me the problem is `ionic.esm.js`, `ionic.bundle.css`, and `ionic.js` in index.html

[code]

are nowhere to be found. They're making it into the Chaincase.UI project's wwwroot folder but aren't available at the platform specific

[2020-12-06 08:30] Kukks opened #259 "Hybrid Windows crash when using IJSRuntime early on page load"
Version: 0.6.18-preview
Platform: Windows WPF
Exception:
[code]
Cause:
When loading a component inside hybrid blazor app inside MBB Windows, that uses `IJSRuntime` (in my case it is a call to `localstorage.get`), nested under `OnAfterRenderAsync(firstRender)` where firstRender is true.

[2020-12-06 14:59] Dreamescaper commented on #180
That's not what I see. I have runtime exception, not compile time:
[code]

So I don't think there's any downside to allowing children to all controls.

Another option would be to define `GestureRecognizers` property of `RenderFragment` type, so it would look something like that:
[code]
But that will require MBB core changes to allow to render separate RenderFragments, not sure how easy would that

[2020-12-07 15:51] jspuij commented on #259
The most logical reason would be that you inject IJSRuntime in a class that is registered as Singleton. IJSRuntime is registered as scoped because it is setup and torn down between page(reloads) en while navigating away etc. You cannot inject it into a singleton. Change the registration from Singleton to scoped and it should work. Also think about the fact that Blazor can be unloaded and reloaded

[2020-12-07 18:59] Eilon commented on #256
It looks like that video has the answers? The answer for Xamarin in the video should be the same for Mobile Blazor Bindings. Were you able to get it working from the video?

[2020-12-07 19:08] Eilon commented on #257
I'm not sure what the problem was but when I try to run it from VS, it would build the project, open the emulator, but then the app wasn't getting deployed. I can try again at some point.

It wouldn't be surprising if the problem is something to do with build ordering. Getting the MSBuild steps right is... not easy!

I will take another look at this.

[2020-12-07 20:55] DevCisse commented on #256
Yes it has the answers and I was able to get it working.

[2020-12-08 13:42] arivera12 commented on #259
@Kukks I ran exactly into this error. I fix it using xamarin essentials secure storage instead of browser storage when working with native devices. I did a common interface which manage platform storage.

[2020-12-08 19:16] Eilon commented on #256
Great!

[2020-12-08 19:16] #256 closed

[2020-12-08 23:49] DanGould commented on #257
getting closer ...

in a project where the app uses ionic successfully (Hara.iOS) the build output includes:
[code]
and all the other ionic files from UI's ionic folder to iOS bundle's ionic folder.

In the broken one (Chaincase.iOS) this isn't happening even though the wwwroot/ionic files exist in the Chaincase.UI project from npm install. Got to be a quirk with MSBuild. I haven't been able to sp

[2020-12-09 01:24] dcuccia opened #262 "MBB templates missing on Nuget?"
At the moment, I'm having trouble pulling the MobileBlazorBindings templates with the command:

`dotnet new -i Microsoft.MobileBlazorBindings.Templates::0.5.50-preview`

The error returned for me is:

Investigating further, I checked for any newer versions here:

https://www.nuget.org/packages/Microsoft.MobileBlazorBindings.Templates

...and saw nothing new there. For fun, I checked Fuget:

https:

[2020-12-09 16:59] jspuij commented on #262
@dcuccia That is a warning, not an error. It does not affect the installation of the templates. The package is on nuget. If you specify a version on fuget, you will actually get the correct data: https://www.fuget.org/packages/microsoft.mobileblazorbindings.templates/0.5.50-preview

[2020-12-09 17:50] Eilon opened #263 "Use <AndroidUseIntermediateDesignerFile> on Android"
Use this to avoid the Resources.Designer.cs file that would otherwise be created.

[2020-12-09 17:50] #263 closed

[2020-12-09 18:01] Eilon commented on #262
Indeed, the template packages are all on NuGet here: https://www.nuget.org/packages/Microsoft.MobileBlazorBindings.Templates
And 0.5.50-preview is right now the latest package.

The issue on FuGet seems to be a bug in FuGet and I will see if I can submit a fix to them for that.

As far as the `netcoreapp1.0` warning (which, to be clear, is really just a warning), it seems like it's a bug that got

[2020-12-09 18:01] #262 closed

[2020-12-09 18:10] Eilon commented on #180
I think the problem of allowing child content for all controls is that it prevents controls from having custom inner contents. For example, a CollectionView control (which doesn't exist in MBB right now) might want an `<ItemTemplate>` inner property for templating, a `<SeparatorTemplate>`, a `<HeaderTemplate>`, etc. But if every MBB control automatically has ChildContent then that isn't possible.

[2020-12-09 18:10] Eilon commented on #180
BTW I'm not saying we wouldn't do it, just that it isn't an easy decision to make because of the consequences.

[2020-12-09 18:26] Dreamescaper commented on #180
I would say that such things should go to separate properties anyway, not to ChildContent.
E.g.

<details>
<summary>Component</summary>

[code]

</details>
<details>
<summary>Usage</summary>

[code]

</details>

[2020-12-09 18:38] Eilon commented on #180
Oh OK I didn't realize you could explicitly say `<ChildContent>` if there are other children... that does change things! Maybe this is far more promising than I had considered!

[2020-12-09 19:04] Eilon opened #264 "Fix Android extraction logic to fully overwrite existing file"
The Android Asset File Provider needs to extract all the files in the ZIP so that they can be used. It correctly overwrites any existing files (if the CRC32 doesn't match), but it doesn't _reset_ the file size. So if you overwrite a "large" file with a "small" file then the extra content from the end of the "large" file will continue to exist.

The fix is to reset the file back to length 0 so that

[2020-12-09 19:08] dcuccia commented on #262
Thanks both.

@jspuij I made the mistake of assuming the error I was seeing was the same on both of my machines, sorry. You're right that it's a warning. The true error on the first machine is included here:

Looks like an SSL issue isolated to one machine. I will look into this further.

@Eilon I did submit a ticket here: https://github.com/praeclarum/FuGetGallery/issues/123
...and it looks like

[2020-12-09 19:14] jspuij commented on #264
Oops

[2020-12-09 19:15] Eilon commented on #264
I kept wondering how did all this extra HTML get into my page and it's invalid?!? Oops! 😁

[2020-12-09 19:15] jspuij commented on #264
I only ever create a bigger mess, so I never noticed 😂

[2020-12-09 19:16] #264 closed

[2020-12-09 19:17] Eilon commented on #264
Haha yeah I'm not really sure _why_ I had the problem. It was in index.html and I guess I had an extra CSS tag at one point and removed it, so the new index.html was smaller. I had to scratch my head a whole lot on this one!

[2020-12-09 19:22] Eilon commented on #262
Well this is just one of those fun issues where 3 or 4 unrelated issues all come up and cause a huge headache 😄

[2020-12-09 19:27] jspuij commented on #262
@dcuccia Is this the machine where you opened that email from the late Mrs Sanders that promises you $7.000.000 as her beneficiary. 😁😉

[2020-12-09 20:43] dcuccia commented on #262
@jspuij but...I told her I wasn't interested!

[2020-12-09 21:04] jspuij opened #266 "Add support for Apple Sign in"
Apple Sign in is a mandatory requirement if your application does OIDC. Your app can be rejected if it does not support it, so we should add the possibility to sign in with apple Auth.

[2020-12-10 19:12] Dreamescaper commented on #258
Ok, probably using DataTemplateSelector is not a great idea, since it is intended to return different DataTemplate based on item type, not item value itself...

Does anyone have any other ideas how can we possibly convert `RenderFragment<T>` to `DataTemplate`?

[2020-12-10 19:18] ktaze1 opened #267 "Assigning delegate object to the UNUserNotificationCenter object on iOS Hybrid"
Hello.

I hope this is not iOS version of #191 I hope there is no harm to ask :)

I was following [this tutorial](https://github.com/xamarin/GoogleApisForiOSComponents/blob/master/docs/Firebase/CloudMessaging/GettingStarted.md#setting-up-a-firebase-cloud-messaging-client-app-on-ios) to implement notifications through FCM. At their [Register for remote notifications](https://github.com/xamarin/Goog

[2020-12-11 03:33] michaelstonis opened #268 "HostBuilder and Dynamic Content"
Is it possible to provide dynamic content to a HostBuilder and restart the host service?

This is essentially the workflow that I am interested in.

- The mobile client connects to a remote API and downloads a payload of razor packed data  (e.g. a zip file with razor content or a RCL)
- Can this payload is unpacked inside the mobile application
- The HostBuilder is reconfigured and pointed at this

[2020-12-11 18:06] Eilon commented on #268
Hmm very interesting question. I think that some devices, in particular iOS devices, wouldn't allow that due to dynamic code restrictions. But if you have a device where you have more control, such as on Windows or perhaps Android, I think you could do something similar to that by throwing away an entire BlazorWebView and its associated host, and creating everything new whenever you want to "reloa

[2020-12-11 18:07] Eilon commented on #268
And that was specifically about web content in hybrid apps.

For native apps I'm less sure but it might be a similar story. It would certainly take some experimentation to play with it and see what works and what doesn't.

[2020-12-11 18:09] Eilon commented on #267
Well there shouldn't be anything that's Mobile Blazor Bindings specific here because MBB is all about UI controls, and this is about an OS service.

I can try to take a look at this but this question might be better suited to a place like https://github.com/xamarin/xamarin-macios.

[2020-12-11 22:57] JohnGalt1717 commented on #266
Doesn't it work if you do it on your oidc?

[2020-12-11 23:34] jspuij commented on #266
It might since Apple Sign In is mostly OIDC as I understand. But even then it should be a first class citizen within MBB as it is mandatory for iOS apps using third party auth services:

https://developer.apple.com/sign-in-with-apple/get-started/
https://developer.okta.com/blog/2019/06/04/what-the-heck-is-sign-in-with-apple

[2020-12-12 15:45] #267 closed

[2020-12-12 22:51] Dreamescaper commented on #258
On the other hand, seems like limitation for 20 DataTemplates per view is present for ListView, but not for CollectionView, so maybe we still can use DataTemplateSelector approach for CollectionView.

[2020-12-14 19:40] Eilon commented on #258
@lachlanwgordon was looking at this problem space. He and I chatted a little while ago so maybe there are some new discoveries from him?

[2020-12-14 23:13] lachlanwgordon commented on #258
Yeah, I've been looking into this, and keep coming up against the same dead ends.

No, but I agree this is the best approach if it's possible. At the moment there are two ways to make a DataTemplate:
* With a Type
* With a Function that returns a View.

When using the Function approach, the function is called once per item it renders to make enough views to fill the screen(plus a few), and then th

[2020-12-14 23:30] lachlanwgordon commented on #258
It won't help the RenderFragment/View issue, but for working out bindings and updates, we may be able to learn something from how other MVU frameworks built on Xamarin Forms work with CollectionViews.

## Fabulous is an F# MVU Framwork built on Xamarin Forms.
The CollectionViews docs are here, but it doesn't give much away with the simple example they give. https://fsprojects.github.io/Fabulous/Fa

[2020-12-14 23:41] PI2R opened #270 "Issue starting mac app from default hybrid template (Xamarin.Mac)"
Hi,

I installed the latest visual studio 2019 pro preview.
I installed Microsoft.MobileBlazorBindings.Templates 0.5.50-preview
I installed all latest preview of the different nuget packages coming with the default hybrid blazor app.
I installed all latest preview version of vs and packages on the mac.

I paired to the mac successfully.

When I start the mac project I get the following exception w

[2020-12-15 00:02] Dreamescaper commented on #258
@lachlanwgordon

We probably can turn RenderFragment into a view, but that doesn't really help.
We need to setup bindings somehow, and that's an issue I don't know how to solve.

Blazor uses `RenderFragment<T>` for templating, which is simply a delegate which returns `RenderFragment` from `T item`.
Therefore if I have N items I can get N RenderFragment, which I can convert to N Views.
Don't really

[2020-12-15 00:08] Dreamescaper commented on #258
I'll take a look at Fabulous, thanks!
... According to sample, they do provide View per item?...

[2020-12-15 00:36] lachlanwgordon commented on #258
I was thinking of using the XamarinForms Bindings to handle each properties.

So if you've got this view

[code]

In the CollectionViewHandler we set the template

[code]

But that is hand written only for one property one view.

[2020-12-15 20:29] Dreamescaper commented on #258
@lachlanwgordon
Well, that would be perfect, but I'm not sure that's possible. As far as I understand, you can't get that `"Name"` (property name) from RenderFragment, only actual property value.

[2020-12-15 22:03] jspuij commented on #268
There is hope for iOS: https://9to5mac.com/2020/11/06/ios-14-2-brings-jit-compilation-support-which-enables-emulation-apps-at-full-performance/

Still not possible for Store apps, but who knows, .net core might be allowed to JIT in the future. Since they have the fastest single core performance on iphones even compared to intel desktops or servers, performance is not really an argument anymore ;-)

[2020-12-15 23:58] Eilon commented on #258
Yeah I think what @Dreamescaper is saying is the crux of the problem because Blazor doesn't expose _any_ binding metadata (to an outside observer such as MBB), whereas in Xamarin.Forms you _must_ provide only metadata.

[2020-12-16 09:43] PI2R commented on #270
How do I delete this stupid question? :-)
I am realizing that all this is only to simulate iOS and to test macOS version I need to do so on the mac itself...
I don't even know why I let myself thinking it would be possible... I might be too tired :-)

[2020-12-16 09:43] #270 closed

[2020-12-17 00:31] Eilon commented on #270
@PI2R I'm glad you got it working! I disagree that it is a stupid question, I'm quite certain I tried doing the exact same thing before!

[2020-12-17 12:18] Dreamescaper opened #271 "InvalidCastException when replacing elements inside of frame"
<details>
<summary>Razor</summary>

[code]

</details>

The following sample fails on button click with exception:
![image](https://user-images.githubusercontent.com/17177729/102487128-b90cb800-4072-11eb-87c1-fd012b3d5b9d.png)

[2020-12-18 01:05] myroot opened #273 "XamarinDeviceDispatcher.CheckAccess"
Implementation of `XamarinDeviceDispacher.CheckAccess` seems wrong

It is a description of `CheckAccess`

And It is a Implementation of XamarinDeviceDispatcher
https://github.com/xamarin/MobileBlazorBindings/blob/f3dc6b652bd1ed598ca4e20e3b004f11c4f7f558/src/Microsoft.MobileBlazorBindings/XamarinDeviceDispatcher.cs#L18
https://github.com/xamarin/MobileBlazorBindings/blob/f3dc6b652bd1ed598ca4e20e3b0

[2020-12-18 01:48] myroot commented on #273
But, i was change to `return Device.IsInvokeRequired;`, it does not working properly
I don't know what is wrong

[2020-12-18 05:00] #273 closed

[2020-12-18 05:04] myroot commented on #273
This description must be wrong
https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.components.dispatcher.checkaccess?view=aspnetcore-5.0

[2020-12-20 22:35] PI2R commented on #249
Hi guys,
I was looking for a drop down list and was about to try learning how to wrap one myself when I found this thread.
Is there any luck this would answer my need and be available soon?
Thanks

[2020-12-21 21:18] PI2R opened #274 "SkiaSharp, SVG & Windows"
Hi,
I have a project targeting macOS, windows, and eventually iOS & Android.
I needed to display some svg icons and was looking for a possible solution.
Therefore I ended up trying to use SkiaSharp.
I managed to get a basic drawing works on Android but when I run the windows project I get an exception stating that it cannot find the assembly SkiaSharp.Views.Forms even though I added it through nug

[2020-12-22 19:11] #271 closed

[2020-12-22 19:12] Eilon commented on #271
Thank you again @Dreamescaper for a great fix !

[2020-12-22 22:31] #153 closed

[2020-12-22 22:31] #212 closed

[2020-12-22 22:31] #242 closed

[2020-12-22 22:58] Eilon commented on #212
@jspuij - just checking, is it correct to have this bug closed via your PR? Or is anything from this issue still remaining?

[2020-12-22 23:50] Eilon commented on #274
I don't think I've tried SkiaSharp in WPF so I'll try to see what's going on.

Tagging @lachlanwgordon who did the original SkiaSharp work in case he has any idea.

[2020-12-23 21:44] #220 closed

[2020-12-23 23:49] Dreamescaper commented on #157
Having to use ContentView instead of ContentPage is indeed not really convenient - e.g. you cannot set page Title easily.
I've tried to fix this issue, but was able to achieve that in quite an ugly way.

- Problem 1. How to get rendered ContentPage instance?

Currently an empty ContentPage is created, and this page is used as a root for renderer.
I've created an fake parent element handler with th

[2020-12-28 10:39] lachlanwgordon commented on #157
Thank for looking at this @Dreamescaper, hopefuly we can fix up a few of these things I couldn't work out. It's been a while since I've looked at this code, but just had a look again and I think I remember what's going on.

I don't think I follow, but if it works then that's cool. Is there any weird code in the final app, or only in the MBB library?

Yeah, it's an override of the Xamarin.Forms Get

[2020-12-28 11:04] lachlanwgordon commented on #274
Hi @PI2R, this should work but I haven't tested it so I'll take a look.

Are you using UWP or WPF?

[2020-12-28 11:41] lachlanwgordon commented on #274
If it's WPF I think I've found the issue, you also need to add the package `SkiaSharp.Views.Forms.WPF` to your WPF project, similar to how you need to have `Xamarin.Forms.Platform.WPF` in the WPF project even though you don't need the equivalent on other platforms.

[2020-12-28 23:35] lachlanwgordon commented on #249
Hi @PI2R ,
I ran into a couple of issues with the two way binding of SelectedItem so it's not ready yet, but I don't think its anything I can't work out. I'll get back onto it and let you know when it's ready.

I'm using the approach with CallbackAttribute helpers Dreamscaper suggested and it works well.

[2020-12-29 07:24] lachlanwgordon opened #276 "Flex Layout"
Now that we have a pattern for attached properties, FlexLayout shouldn't be too hard. I plan to take this on next.

[2020-12-29 07:33] lachlanwgordon opened #277 "Xamarin Forms 5 breaking changes"
Xamarin Forms 5 will come out of pre-release any day now and there are some breaking changes. https://github.com/xamarin/Xamarin.Forms/issues/11857

I think the only one that will affect us will be the migration from MasterDetail to FlyoutView.

Is our goal to upgrade to Xamarin Forms 5 shortly after it goes GA? I think it should be.

[2020-12-29 07:39] lachlanwgordon opened #278 "UWP Samples and Templates"
Some of our sample currently include Windows, others don't and the template doesn't cover UWP.

Given UWP is one of the officialy supported platforms of Xamarin Forms I think we should support it everywhere.

There were some issues with Shell and UWP that stopped me from including it in the Control Gallery when I built it originally but they've since been fixed.

[2020-12-29 11:02] Dreamescaper commented on #276
We'll probably need to resolve this as well (https://github.com/xamarin/MobileBlazorBindings/issues/180).
That wasn't a blocker for Shell Properties, as all pages allow children anyway, but might be an issue here.

[2020-12-30 13:25] Kylar182 commented on #276
Wouldn't it be easier to just get bootstrap working as well as Z-Index on HTML? The main reason I hate Blazor is the massive amount of markup to do things that are so simple in HTML/bootstrap. If we're sticking with XAML you might as well just be MAUI.

[2020-12-30 13:41] Dreamescaper commented on #276
This issue is about Xamarin.Forms native element, there's no bootstrap or HTML here)

[2020-12-30 22:53] PI2R commented on #274
Hi @lachlanwgordon
It is the default one created by the template, so unless I am going crazy (or crazier) this should be WPF :-)
Looking at the issue I already found on some Xamarin issues the fact that a special WPF package was need for SkiaSharp.
Unfortunately I installed SkiaSharp.Views..WPF instead of SkiaSharp.Views.Forms.WPF...
I tried to install the one you suggested and indeed it worked! T

[2020-12-30 22:53] #274 closed

[2020-12-30 23:02] PI2R commented on #249
HI @lachlanwgordon,
Thanks for the update,.
If I can be of any support let me know. I would gladly help and learn how to help more on other issues or developments as well.
I like where this project is going/leading and would even dream about an even more unified UI markup for desktop/mobile apps and web ;-)

[2021-01-04 00:43] MichaelPeter opened #279 "UWP Problems in Upgrading existing Project"
Hi I am currently adding the references to MobileBlazorBindings to a existing Xamarin.Forms Project with UWP Project.

I am Using Xamarin Forms 5.0.0.1829-pre6

I have several issues here, after adding Microsoft.BlazorBindings to my Main Project.

First I had the following Problem with the UWP Project
```"C:\Program Files (x86)\Microsoft Visual Studio\2019\PreviewCommunity\MSBuild\Current\Bin\Micr

[2021-01-04 20:02] Eilon commented on #274
I've updated the docs on this to add a note for WPF projects: https://github.com/MicrosoftDocs/mobile-blazor-bindings/pull/33. It should go live at https://docs.microsoft.com/mobile-blazor-bindings/walkthroughs/skiasharp shortly.

@PI2R  thank you for reporting this!
@lachlanwgordon thank you for assisting!

[2021-01-04 23:45] PI2R commented on #274
Hi @Eilon
Thank you for updating the docs.
There was a test I wanted to do and that I just did when I saw you updated the doc.

In fact it seems I was half right and that SkiaSharp.Views.WPF is also required.
Indeed when @lachlanwgordon suggested to add the nuget package I did it without removing the one I added before.
When I just tried to remove it it stopped working again.

[2021-01-05 00:13] Eilon opened #280 "Add EventHanders to Page and ScrollView"
Add these event handlers:

- Page.OnAppearing
- Page.OnDisappearing
- ScrollView.OnScrolled
-

[2021-01-05 00:14] Eilon commented on #280
Fixed by #269

[2021-01-05 00:14] #280 closed

[2021-01-05 00:15] Eilon commented on #274
Ah interesting I will update the docs to reflect that, thank you for the info!

[2021-01-05 09:41] AmirImam opened #281 "Can I publish hybrid app (iOS) on AppCenter"
Hi.
Is it possible now to publish hybrid app on AppCenter for testing ?
I tried it but it throws error
##[error]Xamarin.iOS task failed with error Error: /Library/Frameworks/Mono.framework/Versions/6_12_4/bin/msbuild failed with return code: 1. For guidance on setting up the build definition, see https://go.microsoft.com/fwlink/?LinkId=760847.

I even tried to do it with just default hybrid app te

[2021-01-05 16:25] PI2R commented on #274
Also while you're at it, I just tried on macOS, and adding package SkiaSharp.Views.Forms allowed me to draw the same canvas.
You might want to add macOS to your bullet iOS and Android.

[2021-01-05 17:52] Eilon commented on #274
Thank you once again @PI2R , the docs are updated now: https://github.com/MicrosoftDocs/mobile-blazor-bindings/pull/34 (will be live soon)

[2021-01-05 17:54] Eilon commented on #281
Hi @AmirImam I've never published on AppCenter but it should be exactly the same as any Xamarin-based app (which includes Mobile Blazor Bindings native and hybrid apps).

Have you been able to publish a regular Xamarin-based app to AppCenter? I recommend trying that first to rule out certain problems related specifically to Mobile Blazor Bindings.

[2021-01-05 18:00] Eilon opened #282 "Blazor Hybrid template creates a windows project that is not compatible with Xamarin.Essentials"
---
**Issue moved from Eilon/MobileBlazorBindingsMigration#1**
- Please respond to @MattBigYellowDesign.

---

_From @MattBigYellowDesign on Tuesday, December 29, 2020 6:06:40 PM_

Creating a blazorhybrid app generates a number of sub projects, one for each deployment platform. The UWP project compiles and runs once edge canary is installed, however when attempting to use Xamarin.Essentials it has

[2021-01-05 18:00] Eilon commented on #282
---
**Issue moved from Eilon/MobileBlazorBindingsMigration#1**
- Please respond to @Eilon.

---

_From @Eilon on Tuesday, January 5, 2021 5:59:18 PM_

Interesting! I wasn't aware that WPF didn't have almost any support on Xamarin.Essentials yet. It's not listed as a supported platform here: https://docs.microsoft.com/en-us/xamarin/essentials/platform-feature-support?context=xamarin/xamarin-forms

[2021-01-05 18:03] AmirImam commented on #281
Yes I have published Xamarin forms app to AppCenter for testing, and distributed iOS app for some real devices.
If there is nothing in blazor hybrid that prevents publishing, then maybe the problem in my publishing steps.

[2021-01-05 18:11] Eilon commented on #281
Did you try the same publish steps in both apps? It's certainly possible that there are some Mobile Blazor Bindings specific steps required, but for the most part as far as the platform/publish is concerned, it's "just a regular Xamarin app."

[2021-01-05 18:12] Eilon commented on #279
I haven't tried UWP for this yet but I can take a look. Can you publish your project to a GitHub repo so I can take a look?

[2021-01-05 18:13] Eilon commented on #278
I'd love to have UWP support! The only reason it's not done yet is that it isn't done 😄

[2021-01-05 18:15] AmirImam commented on #281
Yes I tried same steps, and I'll try it again to make sure about it. But if there are MBB specific steps then I don't know them, so I thought that I can find them here

[2021-01-05 18:18] Eilon commented on #281
Does the raw log on Azure DevOps show any other errors that might give insight on this? Unfortunately the error shown above doesn't say much.

[2021-01-05 18:26] AmirImam commented on #281
No, only that error. I think the only available solution now is trying to publish again maybe I missing something

[2021-01-05 18:34] Eilon opened #283 "Add support for InputView.Keyboard property"
Fixed by #261

[2021-01-05 18:34] #283 closed

[2021-01-05 20:19] PI2R commented on #274
I saw you added WIndows as well to the list of project types that should have SkiaSharp.Views.Forms installed.
It does not hurt and I don't think it is worth you waste time on this, but FYI my tests worked without it. Only the 2 "SkiaSharp.*.WPF" packages were needed.
Just to be sure I installed this extra package to the windows project and it did not seem to cause any more troubles to have it.
An

[2021-01-05 21:00] Dreamescaper commented on #277
FYI Xamarin Forms 5 is released.

I can submit PR later, unless you're planning to.

[2021-01-05 21:05] Eilon commented on #274
Yeah I chose to include it "just in case" even if it might not be necessary. At worst it's harmless 😄

[2021-01-05 21:10] Dreamescaper opened #284 "Add .editorconfig file"
Would be great to add editorconfig file to enforce single code style across code base (and to enforce license headers).

Maybe it could be expanded later by adding and configuring StyleCop.

[2021-01-05 21:12] Dreamescaper commented on #284
Also, would it be possible to make Azure DevOps builds for PRs public?
I can often see that build is failed for my PRs, but can't even see why.

[2021-01-05 21:14] Eilon commented on #277
As long as moving to Xamarin.Forms 5 _works_, then I think it would be great! I have no reason to think it wouldn't, but I don't think anyone has tried 😄

[2021-01-05 21:19] Eilon commented on #284
There is this file: https://github.com/xamarin/MobileBlazorBindings/blob/master/.editorconfig

Is it incomplete? If so I'd be happy to have more stuff enabled there to make working on the project easier.

For DevOps public builds: I _thought_ I had that working at one point but it's clearly not anymore. I did at least fix it so that the non-public builds at least correctly reports success/failure

[2021-01-05 21:22] Eilon commented on #281
If you can provide any additional info that would be very helpful. There could be an issue here in MBB but I probably won't have time to look at it very soon.

[2021-01-05 21:27] Dreamescaper commented on #284
Ooooops))
Missed that file, not sure why :)

Still would be great to configure it, e.g. add MIT license header.
I noticed that you've added braces for single line 'if' statements, would make sense to set severity to 'warning' instead of 'silent', if I understand that correctly.

Maybe I could submit PR later to make it more strict for further discussion.

As for DevOps builds - I cannot access bui

[2021-01-05 21:30] Eilon commented on #284
EditorConfig: Yes if there are any things that are silent that shouldn't be, feel free to fix! I don't remember how I made the file. Perhaps VS generated it with some "reasonable" defaults?

DevOps builds: I see this in one recent PR:
![image](https://user-images.githubusercontent.com/202643/103700901-008fb100-4f5a-11eb-9efe-c1de90ba3f21.png)

But I think to go deeper into the logs you need to hav

[2021-01-05 21:33] Dreamescaper commented on #284
Again, my bad.
I simply tried to click Details link on the bottom of the page.
![image](https://user-images.githubusercontent.com/17177729/103701183-3c546600-4fae-11eb-82ba-12eaf3a51d34.png)

Yeah, it's actually should be enough in most cases, I missed that.

[2021-01-05 21:33] Dreamescaper commented on #284
Anyway, closing this item, as editorconfig file is already present.

[2021-01-05 21:33] #284 closed

[2021-01-05 21:34] Eilon commented on #284
No worries, I didn't even realize it myself until I clicked it by accident a while ago! It's odd that each way to get to the info gives slightly different stuff 😄

[2021-01-06 00:46] MichaelPeter commented on #279
Hello Eilon,

thanks for the quick response

I cannot upload my project, but I uploaded a project where it can reproduced:
https://github.com/MichaelPeter/BlazorMobileUWPHybridTest

Essentially I just created a new xamarin forms project with uwp
added Microsoft.MobileBlazorBindings to the main project
addded Microsoft.MobileBlazorBindings.WebView.Windows to the UWP Project.

and then this errors h

[2021-01-06 05:28] AmirImam commented on #281
[code]
I found this in the AppCenter build log. Maybe it will be useful

[2021-01-06 05:50] AmirImam commented on #281
Found these two

[code]

[2021-01-06 12:35] AmirImam commented on #281
Last thing, I could publish my MMB hybrid iOS app on TestFlight successfully. So now the problem is with AppCenter

[2021-01-07 17:40] Eilon commented on #279
Oops I think I missed something earlier. There isn't currently a build of Mobile Blazor Bindings for UWP on Windows, only WPF on Windows. It's something we could probably add, but I wouldn't expect the `WebView.Windows` package to work in UWP.

[2021-01-07 17:48] Eilon commented on #281
Is there any info here that helps? https://docs.microsoft.com/en-us/appcenter/build/troubleshooting/xamarin

There could be some limitation on App Center where the Razor SDK is somehow not available when building a Xamarin.Forms iOS app. Do you have the ability to specify which SDKs/dependencies your app requires on App Center?

[2021-01-07 17:52] Eilon commented on #281
They do have some free support contact it seems as well: https://docs.microsoft.com/en-us/appcenter/help

I looked at the list of Supported Frameworks in https://docs.microsoft.com/en-us/appcenter/build/xamarin/ and I didn't see any mention of web/ASP.NET/Razor/Blazor so maybe there's a limitation on App Center's build system regarding Razor. That support link might help find some info.

I wish I

[2021-01-07 18:44] MichaelPeter commented on #279
Hello Elliot,

thanks for the response, can you tell us about the Plans/Roadmap for mobile bindings?

Will there be a way for windows store/Xbox apps to run mobile blazor bindings? Maybe with winui 3 or the first preview for system.Maui?

[2021-01-07 19:51] Eilon commented on #279
We're working on some updates that will enable Windows Store via UWP and also making sure that Apple App Store support is all there.

I will work with my team to see if we can get some sort of proper roadmap published and I will share when it is available.

[2021-01-07 21:05] MichaelPeter commented on #279
Hello Eilon, sorry for misspelling your name.

That sounds great! Thank you for the info :D

[2021-01-07 21:28] kestlerio opened #286 "SkiaSharp: Render was called before InitAsync"
I am trying out the 0.5.50-preview version of Microsoft.MobileBlazorBindings together with SkiaSharp.
Under iOS, I get the following error:

_**Unhandled exception
One or more errors occurred. (Render was called before InitAsync)**_

**Interestingly, if I comment out the `<SKCanvasView ...>` from the XAML, then there is no problem. And if I comment out the `<BlazorWebView ...>`, then there is no p

[2021-01-08 00:12] Eilon commented on #286
Very odd issue, I'm sorry you ran into this! You're probably the first to try this combination, so we will take a look and get to the bottom of it. It certainly _looks_ like it should work.

BTW for Windows support for SkiaSharp I updated the guidance a few days ago based on the findings of some other folks, so make sure you have the right NuGet references for SkiaSharp: https://docs.microsoft.com

[2021-01-08 14:42] kestlerio commented on #286
Thank you, Eilon, for your quick reply! With your help, I could get rid of the dll problem in Windows.

**And now, I can confirm that the "Render was called before InitAsync" problem is the same in Windows. So that problem might be platform-independent.**

And like with iOS, in Windows, too, `SKCanvasView` and `BlazorWebView` work if they are alone, but in combination they produce this error.

[2021-01-09 08:16] idylmz opened #288 "Hybrid iOS app, <script></script> not working in index.html!"
Hey everyone,

First of all, thank you for that amazing project. I would like to specify an issue, weirdly no one has ever raise that one.

In Hybrid app, I have arranged everything on Android. It works well. All my css, js files are working, I can interact with JS from C# side, or vice versa.

But when I return to HybridApp.iOS project, everything works fine until I have a <script></script> tag o

[2021-01-09 09:17] idylmz commented on #288
Ok, regarding to my post:

I thought I was producing a small piece of code in order to specify the issue. But it seems reproducing the code, solve the issue for me.

The original problem was with the` jquery and popper js` files because, well they are big.

In order to keep html executing I have added my script files on header and then added `defer` attribute to each of them

So the final look is:

[2021-01-09 09:17] #288 closed

[2021-01-10 08:37] dhindrik commented on #207
What is the reason that we need Edge Canary? And why will it not work on Mac? If Edge Canary is needed it is also available for Mac.

Sorry if this was the wrong place to ask the question.

[2021-01-11 06:29] lachlanwgordon commented on #249
Thanks @PI2R, there's a PR open #275 for this. Hopefully we'll have it merged in soon and you can give it a go.

I agree, this is an exciting project!

[2021-01-11 17:18] Eilon commented on #288
Very interesting. It looks like you've resolved the issue but this is certainly something I'll look back to if we see more reports of this.

[2021-01-11 17:20] Eilon commented on #207
@dhindrik - Edge Canary is needed only for now because that's what the WebView2 native control requires. We will soon update to the RTM WebView2 for Windows so there's a separate installer for that version of WebView2.

For Mac we'd like to consider WebView2 as well but I don't think it's ready for us to use. (We don't need just Edge Canary - we need WebView2 itself.)

[2021-01-11 17:29] Eilon commented on #286
OK that's good to know, thank you for the update. We'll take a look!

[2021-01-11 17:48] Eilon opened #289 "Fix NuGet metadata and code signing for auth packages"

[2021-01-11 19:10] idylmz commented on #288
Actually it is weird no one has ever seen that before. Good thing I asked, because I solved it just by asking.

BTW, this is not the final solution, it is just a workaround I think. Because now I cannot get it work on iPad. But no problem with iPhone.

Right now I have started building my second app with Blazor Hybrid. And 3 more projects are incoming. I really want to use this template. If my sol

[2021-01-11 19:25] Eilon commented on #288
jQuery has been around for a long, long time, and will probably continue to be around for a while longer. So it's interesting that there was an issue with it. But, of course, probably not a lot of people have tried using jQuery in this very modern scenario just yet!

[2021-01-11 20:50] Dreamescaper opened #290 "Allow overriding Page.OnBackButtonPressed"
I need to block back button under certain conditions, and suggested approach is to override Page.OnBackButtonPressed method.
Unfortunately, method override is not something we can add in razor syntax.

As for now I implement it in the following way:
[code]

That's quite verbose though, and works only if Shell is used.

So I'm thinking whether it is possible to make it easier somehow.
I have an ide

[2021-01-11 22:11] Eilon commented on #290
Hmm ideally these would all be events exposed from Xamarin.Forms. But we could expose the overrides as events from within Mobile Blazor Bindings (which is basically what you propose, but built-in). I wouldn't be opposed to adding these whenever we see fit. This works mostly for virtual methods that are `void` because event handlers don't compose well if they have return values. (You typically have

[2021-01-11 22:32] Dreamescaper commented on #290
Yeah, I thought about something like BackButtonPressedEventArgs with Cancel method (similar to Shell.Navigating).

But again, with such approach we'll need to do same for each Page descendant (e.g. TabbedPage, ContentPage, FlyoutPage/MasterDetailPage etc.).

We won't be able to add those to Page only, as it won't be inherited automatically.

[2021-01-12 01:28] lachlanwgordon opened #292 "Struggling to add webview to control existing MBB app"
I'm trying to add a `BlazorWebView` to the Control Gallery app so I can reproduce, and hopfully fix #286. Based on the HybridApp sample I think I've done everything right but I end up with a blank white area where my webview should be.

In the debug output in Visual Studio I get `2021-01-12 12:05:56.569325+1100 ControlGallery.iOS[42638:745934] [Process] 0x7fbeb7b67020 - [pageProxyID=6, webPageID=7

[2021-01-12 02:20] lachlanwgordon opened #293 "ShellNavigationManager throws error if it find url "/""
Shell Navigation manager throws error `System.ArgumentNullException: 'Route cannot be an empty string
Parameter name: route'` if it finds the route "/". I found this when I tried to have a BlazorWebView and a Shell in the same project.

The easy fix is to have ShellNavigationManager ignore "/", but longer term we may want a way to distinguish between XF Razor Components and Web Razor Components wi

[2021-01-12 10:46] lachlanwgordon opened #295 "Child/Parent error in NativeComponentAdaper when using shell"
In the NativeComponentAdapter the if an if check to make sure a child has the correct parent.

[code]

I'm not quite sure what the point of the check is but it looks like someone put it there for a reason. The condition hits when using Shell in the ControlGallery.

The error it logs is:
[code]

[2021-01-12 10:52] lachlanwgordon opened #296 "Change Debug.Fail() to Debug.WriteLine() in the NativeComponentAdapter()"
In the NativeComponent adapter there are two Debug.Fail() calls. When debugging on iOS or Android these are basically the same as Debug.WriteLine and the app keeps running with a log in the console. When running on UWP this causes the app to pause, but if you hit play it seems to keep working fine.

Am I allowed to change these to Debug.WriteLine()s to make UWP usable and have it behave more consi

[2021-01-12 19:30] rogueyoshi opened #297 "blazorhybrid template has no Web target"
Unlike the [CatTrackerDemo](https://github.com/Eilon/CatTrackerDemo) demonstrated on your [YouTube channel](https://youtu.be/qTPHAlHom20), the blazorhybrid template has no Web output target. I've been trying to add one myself from scratch to no avail (and I do realize it's advised to use Razor Component Libraries).

[2021-01-13 00:29] #277 closed

[2021-01-13 19:34] #289 closed

[2021-01-14 18:12] Eilon commented on #292
Hmm interesting, I'll have to take a closer look. Hybrid apps have quite a few additional requirements compared to non-hybrid apps so it's possible that there's some 1-line thing that's missing somewhere.

[2021-01-14 18:25] Eilon commented on #290
If we add an event to the Mobile Blazor Bindings Page why wouldn't it work on derived types?

[2021-01-14 18:40] Dreamescaper commented on #290
So let's say I add this event to some inherited Page class:
[code]

Now class XF.ContentPage does not have this method, as it inherits XF.Page, therefore I need to create some MbbContentPage.
I cannot inherit MbbContentPage from MbbPage, as it won't contain XF.ContentPage parts, so I need to inherit it from XF.ContentPage - and add that override again:
[code]

Unless I'm missing something.

[2021-01-14 18:44] Dreamescaper commented on #290
Oh, you probably mean Page Blazor component.
That would be inherited by other Page Blazor component indeed, but we need to connect it to XF.Page somehow.
And I haven't found any other way to do that apart from OnBackButtonPressed method override.

[2021-01-14 18:50] Eilon commented on #290
Ohhhhhhhhh right I see. Yes I did mean the MBB Element Page, but you're right that we would need a derived XF Page to wire it up. No fun ☹️

[2021-01-14 18:57] Eilon commented on #290
Perhaps the best solution is to get this added to Xamarin.Forms. Otherwise whatever we do in MBB will always have limitations. (But I'm fine if you want to add a solution to MBB for now using one of the previous ideas here.)

[2021-01-15 19:09] Eilon opened #298 "Change Shell navigation target to Page instead of View"
This was discussed in the Shell meta-issue: https://github.com/xamarin/MobileBlazorBindings/issues/157#issuecomment-750587312

With Shell navigation you specify a URI to navigate to. The URI is registered in a `.razor` page using the `@page "uri/to/page` directive. Prior to 0.6, the top-level item of the target would be a View such as `ContentView`. This change is to make the target be a Page, suc

[2021-01-15 19:27] Eilon commented on #298
Docs update: https://github.com/MicrosoftDocs/mobile-blazor-bindings/commit/6d1842f42545bf0e4723d9f13022c0554f58f321

[2021-01-15 19:28] #298 closed

[2021-01-17 23:29] Dreamescaper opened #299 "Cannot navigate back after nested Shell navigations"
If I navigate to some page using ShellNavigationManager, and then navigate again to some third page, I cannot go back from that page - back button has no effect.

Example in ControlGallery:
Skia Playground -> Skia Canvas Paths.

(Issue reproduces on older commits as well, so not related to #298 )

[2021-01-17 23:37] Dreamescaper commented on #299
Seems like the cause of the issue is Xamarin.Forms upgrade - I cannot reproduce on older commits.

[2021-01-18 00:04] Dreamescaper commented on #299
Probably should be fixed by this PR:
https://github.com/xamarin/Xamarin.Forms/pull/13330

So probably simply need to wait for Xamarin.Forms update.

[2021-01-18 10:53] dhindrik commented on #207
@Eilon thank you for answering! It would be great to use Visual Studio for Mac, I think that many Xamarin developers have Mac as their primary machine, even if is not as many as that have Windows.

[2021-01-18 11:11] Dreamescaper commented on #299
Tested on latest Xamarin.Forms nightly - issue does reproduce there.

[2021-01-18 18:42] Eilon commented on #207
Visual Studio for Mac is fully supported with Mobile Blazor Bindings! The same instructions in Visual Studio for Windows also work on the Mac! If you haven't tried it out yet, I recommend it!

[2021-01-18 18:50] Eilon commented on #299
So we still need another bug fix from Xamarin.Forms possibly (if so, is there a bug filed on it)? Or do we need to investigate further to see if MBB is doing something wrong?

[2021-01-18 18:54] dhindrik commented on #207
Great! I tried before, but I never got hybrid apps working. And when I looked at the Prerequisites and only windows (see attached image) are in the list for hybrid apps I assumed it will not work in VS for Mac. I will give it a new chance.

<img width="811" alt="Screenshot 2021-01-18 at 19 52 03" src="https://user-images.githubusercontent.com/6691971/104953573-f4c6d480-59c6-11eb-9a6e-f2e830b12f57.

[2021-01-18 19:02] Eilon commented on #207
Oh sorry that might not be as clear as it should be. For hybrid apps on Windows there is 1 extra requirement. On Mac there's nothing extra.

I've updated the docs to hopefully make this more clear: https://github.com/MicrosoftDocs/mobile-blazor-bindings/commit/8ce43570c5e70fb9f423f6dc1c1320743751ce9b (the update won't go live until the next release, but it's staged for now).

[2021-01-18 19:11] dhindrik commented on #207
Nice! Thank you for your fast answers. I tried again and now it works. It was an earlier version I tried last time.

[2021-01-18 19:15] Dreamescaper commented on #299
Sorry, my bad, I've lost "not" in the previous comment :).

I don't think anything is required (apart from updating XF when it releases).

[2021-01-18 20:03] Eilon commented on #299
Got it! So we'll hold onto this bug until we can pull in an update.

[2021-01-18 23:17] Dreamescaper opened #300 "Shell navigation does not happen until OnInitialyzedAsync fully executed"
STR:
1. Create Page component with @page directive.
2. Override OnInitializedAsync, put `await Task.Delay(10000);` there.
3. Use ShellNavigationManager to navigate to this page component.

ER:
Navigation happens immediately. Page is re-rendered after 10s, when OnInitializedAsync is executed.

AR:
Navigation only happens after 10 seconds.

[2021-01-18 23:25] Dreamescaper commented on #300
Problem is that RenderRootComponentAsync method performs full initial rendering, including execution of asynchronous methods and performing re-rendering.

That didn't happen before #298 , as rendering was performed in fire-and-forget way.

[2021-01-18 23:34] Dreamescaper commented on #300
I have an idea how to fix that, not sure how great it is though.
Currently we await rendering to RootContainerHandler, than retrieve XF.Page from there and use it for navigation.

We can probably wait for the first element added to RootContainerHandler instead, and use it for navigation straight away, without awaiting for rendering completed.

[2021-01-18 23:51] Eilon commented on #300
I think that's definitely worth a shot, assuming the UI thread is even available to do the work (otherwise it'll just wait anyway until it's available).

[2021-01-18 23:56] Dreamescaper commented on #300
I think it should be available, considering that it worked previously, when rendering was executed in fire-and-forget manner.

[2021-01-19 13:08] dhindrik commented on #266
Sign with Apple is not really a UI thing and I don't think it should be part of this library.
https://docs.microsoft.com/en-us/xamarin/xamarin-forms/platform/sign-in-with-apple/android-ios-sign-in

[2021-01-19 13:11] dhindrik commented on #241
The HTML only implementation, iI guess that is the Blazor WebView?

[2021-01-19 14:24] Dreamescaper opened #302 "Shell navigation crashes if another navigation is in progress"
In #291 ShellNavigationManager was updated to use the same singleton renderer instead of creating a new one on each navigation. That change leads to issue - if I invoke multiple navigations in short period of time, or if I put navigation to component's OnInitialyzedAsync method, navigation will crash due to rendering exception:
[code]

So apparently that singleton change should be reverted.

[2021-01-19 14:27] Dreamescaper commented on #302
I'm still curious though, where we should dispose created renderers.
I think it would make sense to do that when Page is removed from NavigationStack (as disposing the renderer seems to Dispose all rendered components as well).
Would it make place to handle that in ShellNavigationManager? Or some other place?

[2021-01-19 17:06] Eilon commented on #302
Hmm... maybe it's OK to have a singleton renderer but we just need to protect access to it?

If we do need to create multiple renderers then I guess wherever we create them we need to ensure they are disposed. If creating them is done as part of ShellNavigationManager, then that component needs to dispose them as well (or make sure that disposal is hooked up).

[2021-01-19 18:45] Dreamescaper commented on #302
Not sure if we can do that properly, considering that rendering process includes component's async methods. So if even if we serialize access somehow, that could cause that some hanged request in OnInitialyzedAsync will block app navigation, which doesn't sound great.

[2021-01-19 21:51] DanGould commented on #257
We fixed this in msbuild and it can be closed. Thanks for the awesome bindings Eilon you're a beast.

[2021-01-19 22:03] Eilon commented on #257
@DanGould oh can you share more info about what the fix was? A fix in MSBuild itself, or in some CSPROJ? Any info you have might help me or others in the future. Thanks!

[2021-01-20 01:44] mailfcly commented on #23
+1 for hot reload !!!

[2021-01-20 05:40] sowsan opened #304 "Webrtc support blazorwebview"
Can Blazorwebview support webrtc ? E.g https://appr.tc

[2021-01-20 11:56] vallgrenerik opened #305 "Convert Blazor WASM to Blazor Mobile Blazor Bindings"
Hi @Eilon, @danroth27 and @SteveSandersonMS.
I'm about to choose a framework for a future project.
As of now I'm really leaning to choose Blazor WASM since it looks really promising.

But in the future my customer would like to have push notifications (since it's not currently available through PWA on iOS) and maybe some other platform specific sensor that's only reachable through a native app (or

[2021-01-20 17:07] arivera12 commented on #222
@juanjfrancisco it works partially but after losing the inout focus the windows doesn't resize back
![Screenshot_20210120-130532](https://user-images.githubusercontent.com/5600102/105209613-6b2b1a00-5b20-11eb-8f2e-8a7ce8c97991.jpg)

[2021-01-20 17:48] arivera12 commented on #218
Just a head notes.

Every library which uses IJSRuntime it should be scoped or transient.

Singleton or early access of IJSRuntime like in the startup of the app will raise this error.

[2021-01-20 21:16] Eilon opened #306 "Initial Tizen work for native and hybrid apps"
- Support for native applications
- Support for hybrid applications, including auth

See issue #307 for remaining Tizen work.

[2021-01-20 21:16] Eilon opened #307 "Remaining Tizen work"
This item is to track remaining Tizen work as a follow-up to issue #306 based on the work done in PR #285.

1. [ ] Tizen application startup code in the project's `Main.cs` has to re-register the WebView renderer and set up custom loading of assemblies.
1. [ ] Static assets used in a BlazorWebView must be directly included in the Tizen project. They are not automatically copied and embedded from t

[2021-01-20 21:20] #306 closed

[2021-01-20 21:28] Eilon commented on #306
Initial docs are here: https://github.com/MicrosoftDocs/mobile-blazor-bindings/commit/f343d9db121a0e638f7575731a1d14e8abcce3a1#diff-77a5ba71c21cbcf5bdbf37c4d8d493e38c56332157920ebbafaf9458606d34f0

They will be live on the docs site when Preview 6 ships to the public.

[2021-01-20 22:05] Eilon commented on #304
Hi @sowsan can you share more info about what you're trying to do?

[2021-01-20 22:26] Eilon commented on #218
In Mobile Blazor Bindings it's registered as **scoped**:

* https://github.com/xamarin/MobileBlazorBindings/blob/master/src/Microsoft.MobileBlazorBindings.WebView/BlazorHybridServiceCollectionExtensions.cs#L18

In Blazor Server it's registered as **scoped**:

* https://github.com/dotnet/aspnetcore/blob/b795ac3546eb3e2f47a01a64feb3020794ca33bb/src/Components/Server/src/DependencyInjection/Component

[2021-01-21 00:33] toklive commented on #304
I am also trying similar and experimenting with moblieblazor bindings. Idea is to build a simple example like here, https://www.twilio.com/blog/build-video-chat-app-asp-net-core-blazor-webassembly-twilio-video. It is using webrtc behind the scene, So trying to see if a hybrid app using html works or not. thanks for your comments!

[2021-01-21 01:09] arivera12 commented on #218
@Eilon Yes it's true I just wanted to contribute to this issue and based on my experience migrating an entire existing blazor wasm app to MBB and it's working properly for now!

I will later give more feedback when the app it's published to the app store.

[2021-01-21 14:54] pietrodicaprio commented on #304
I believe che "challenge" is in showing the permissions request to the user and then set the feedback on the browser 🤔

[2021-01-21 16:06] sowsan commented on #304
I found these two in stackoverflow talking about how we can achieve it with Xamarin webview

https://stackoverflow.com/questions/59771557/xamarin-requesting-camera-permissions-in-webview
https://stackoverflow.com/questions/62295556/xamarin-forms-webview-not-working-with-webrtc

@Eilon - any suggestion on how to use the permission request for web to access camera and microphone with mobilebindings

[2021-01-22 01:53] jorgepluna commented on #207
Eilon,

Thus is fantastic work! We have some projects for big corporations for which we could use this technology. However, we would like to know first if you have any idea of when if at all this product will be released as a production ready technology? and when?

Thank you so much!

[2021-01-23 14:11] dMiracleMan opened #308 "Remove Title Bar from ContentPage"
How do you remove the title bar from the first page you create to initiate the app? I would like my blazor component/pages to be full screen. Is this possible?

[2021-01-25 08:03] pietrodicaprio commented on #308
I got it by modifying my App.cs in the shared Blazor project:
where you have `host.AddComponent<Main>`, before this call add `NavigationPage.SetHasNavigationBar(MainPage, false);`
final snippet:
[code]

hope it helps 😊

[2021-01-25 22:04] Dreamescaper opened #309 "ComponentWrapperGenerator improvements"
I decided to write down my thoughts on improving ComponentWrapperGenerator to make it usable for 3rd party projects as well.
This issue is somewhat related to #151 , but the approach is probably different.

1. Convert it to Roslyn source generator.
This tool should be able to run on build, there is probably no need to commit generated files.
While it is possible to use it as is as MSBuild task, So

[2021-01-26 11:33] jameslin0312 opened #310 "Is <iframe> supported?"
I am traying add ifame element with src defined in a razor under WebUI. But the render result is empty. Is iframe supported in this preview version?

Thanks a lot for your help!

[2021-01-26 13:28] pietrodicaprio commented on #310
Would be nice to have a sample code of how you're loading the iframe.
Are you opening an external website that contains the iframe? Are you opening a local file? Did you check the developer console for error/warning?
Provide some context, information, steps you performed...

[2021-01-26 18:28] Eilon commented on #310
Also, which OS/platform is this on? We don't specifically block IFrame but there might be some limitations around it.

[2021-01-26 18:55] Eilon commented on #304
It's not an area I'm familiar with but I'll keep this issue open so that we can have a look. There probably isn't anything specific to this area because it's probably a general issue of running on devices with permissions. I think the StackOverflow issues you point to are probably the best answer because they both link to a blog post written by a Xamarin team member. The same technique probably wo

[2021-01-27 02:28] jameslin0312 commented on #310
The iframe fragment is as below. I am trying this on iOS.

<iframe src="https://www.w3schools.com" title="W3Schools Free Online Web Tutorials"></iframe>

[2021-01-27 08:04] pietrodicaprio commented on #310
@jameslin0312 we are still missing a code snippet of how you're loading that iframe. How did you put it into the webview?
Provide the app's code removed of sensitive data but keep the main structure that shows how's working

[2021-01-27 08:22] jameslin0312 commented on #310
I am testing hybrid app and simply replaced the index.razor under WebUI\Pages as:

@page "/"
<h1>Hello, world!</h1>
<iframe src="https://www.w3schools.com" title="W3Schools Free Online Web Tutorials"></iframe>

[2021-01-27 09:13] pietrodicaprio commented on #310
Ok, so you are not loading the iframe code in a webview. You are loading it as content of the Blazor page that is then loaded by the BlazorWebView.
If you use the developer console, as I suggested, you can see that the issue is:

Did you try with a different website? (that is not having that header set to 'sameorigin') I did and is working both on Android and iOS 🙂

[2021-01-27 10:19] jameslin0312 commented on #310
Many thanks for your help! It works fine if I change the src to another website. But I can't set the element as full size even I set iframe with style of height:100% and all views in Main.razor with VerticalOptions="LayoutOptions.FillAndExpand".

[2021-01-27 10:42] pietrodicaprio commented on #310
I'm quite sure you **need** to use CSS to have a borderless full screen iframe.
To be honest I'm not sure this is accepted by the Apple Store TOS anyway. It depends on what you're doing

[2021-01-27 11:44] jameslin0312 commented on #310
I used Cordova before and have submitted our app successfully to the Apple Store. It's similar of using WebView or iframe to  build hybrid app, but easier to handle native function calls. By the way, how to open "developer console" in VS.Net on Windows 10?

[2021-01-27 12:48] pietrodicaprio commented on #310
You can find the steps on the official doc: https://docs.microsoft.com/en-us/mobile-blazor-bindings/advanced/debug-hybrid-apps
Many messages are forwarded to the “output” window of Visual Studio too.

[2021-01-28 02:12] jameslin0312 commented on #310
Many thanks for your information. It helps a lot!

[2021-01-28 02:12] #310 closed

[2021-01-29 08:58] mrpengfei opened #311 "<a> does not work in macos"

[2021-01-29 13:23] idylmz commented on #305
Apart from the developers, I'd like to make an explanation here.

What you need is Razor Class Library, if you don't know it already.

You will create your razor components including _Import and App razor files. Then you will have 2 seperate projects as Blazor WASM and Blazor Hybrid (and its 4 subprojects for iOS, Android, Windows and MacOS). They will reference your rcl project. If your project i

[2021-01-29 13:34] idylmz commented on #222
Before adding new issue, looked for similar bugs and I found this.

I am also experiencing the same issue and when I tried the soft input mode adjust, The screen did not resize back as @arivera12 specified above.

Will there be a fix to this in the near future? Is there any workaround that we can use by the time we have the absolute solution?

[2021-01-29 20:58] Eilon commented on #311
Hi @mrpengfei can you provide more info about what you tried and what isn't working?

[2021-01-29 21:04] Eilon commented on #222
Hi folks, it's not clear to me if there's anything that Mobile Blazor Bindings needs to do or if it's a more general Xamarin/Xamarin.Forms thing, or if it's just a general Android (or other platform) thing. Does anyone know if it's specific to Mobile Blazor Bindings, or would this exact issue happen in any other Xamarin.Forms-based application? If it's more general, we should make sure there is an

[2021-01-29 21:18] arivera12 commented on #222
@Eilon it's not clear for me also where it resides.

What @juanjfrancisco proposed works but when the keyboard hides I think the `BlazorWebView` supposes to resizes back an fit the original window size which it doesn't happens and leaves that blank space on the bottom.

And yes it's an android issue I had tested ios and it's ok.

[2021-01-29 21:28] Eilon commented on #309
This is... very interesting! I haven't played with source generators but they certainly open up some incredible solutions.

Here are my thoughts on this:

1. So long as it isn't _too complicated_ then I think this would be very cool. It's not like the current component generator is simple per se, but it's written as somewhat "naive" code that is fairly easy to walk through and debug. Certainly som

[2021-01-29 21:31] Eilon commented on #222
@arivera12 thank for the info. The BlazorWebView is a bit complex in terms of how it handles interaction with the native WebView but it doesn't have any logic for resizing/moving things. So maybe it _should_ have some logic like that, or maybe there's an issue in Xamarin.Forms and how it handles things.

Do we have any idea whether it's the size of the Xamarin.Forms control, the native Android Web

[2021-01-29 21:32] arivera12 commented on #222
Let me do a quick xamarin.forms app with some inputs and see how it behaves on android.

[2021-01-29 21:40] Eilon commented on #305
Pretty much what @idylmz said.

The choice of Blazor Server vs. Blazor WebAssembly (WASM) vs. Mobile Blazor Bindings Hybrid Apps is _mostly_ independent of your Blazor code. Most stuff works the same everywhere. If you place your Blazor code in a Razor Class Library (RCL) Project then you can reference that RCL from a Blazor app project (Server, WASM, MBB Hybrid) and it'll run the same.

[2021-01-29 21:41] Eilon commented on #305
Also please note that Mobile Blazor Bindings is an _experimental_ project with no firm timeline for release. But we are working on _Desktop_ support (Windows and macOS) for hybrid apps for .NET 6: https://github.com/dotnet/aspnetcore/issues/27217

[2021-01-29 21:51] arivera12 commented on #222
@Eilon

First test **without**

`Xamarin.Forms.Application.Current.On<Xamarin.Forms.PlatformConfiguration.Android>().UseWindowSoftInputModeAdjust(WindowSoftInputModeAdjust.Resize);`

**Xamarin.Forms** and **BlazorWebView** behaves exactly, keyboard goes on top of inputs without scrolling option.

Seconds test **including**

`Xamarin.Forms.Application.Current.On<Xamarin.Forms.PlatformConfiguration.

[2021-01-29 21:55] arivera12 commented on #222
Note:

I didn't test under the conditions of native web view control just regular **xamarin** input controls and **blazorwebview**.

[2021-01-29 22:04] Dreamescaper commented on #309
Well, point 1 is certainly a blocker for Source generator conversion - it won't be able to get runtime data. But I think it should be changed anyway, since it's unreliable.

Otherwise - I think it would be more or less direct conversion. Working with Roslyn's ISymbols is not that different than with Reflection's *Info classes.

I would at least split it to multiple files (maybe simply partial clas

[2021-01-31 10:16] vallgrenerik commented on #305
Thank you @idylmz and @Eilon!
I know MBB is experimental, but if I structure my code in the way @idylmz said the project will have better seperation.
So in the future, if my customer wants a native (iOS/Android) app, the reuseability would be in better shape right? :)
Thanks in advance!

[2021-02-01 19:58] Eilon opened #313 "Add support for hosting Blazor Web components directly in WPF (.NET Core)"
To simplify some common scenarios we should add support for directly hosting Blazor Web components in WPF (.NET Core) applications. This would use Edge WebView2 directly but still re-use many of the same APIs and patterns used elsewhere in Mobile Blazor Bindings.

The work is to:

1. Factor out much of the hybrid-related code into a new `Microsoft.MobileBlazorBindings.Hosting` project
2. Change ex

[2021-02-01 21:01] Eilon commented on #305
@vallgrenerik yes that should be true.

[2021-02-01 21:46] Eilon commented on #313
This is what a simple sample app looks like:

XAML:

[code]

Screenshot: (top blue-ish section is WPF XAML, bottom section is Blazor Web rendering HTML into a WebView2):

![image](https://user-images.githubusercontent.com/202643/106521877-c0a5e600-6493-11eb-9608-b4ad0561385e.png)

[2021-02-02 03:14] Slevya opened #315 "Cyrillic support issue - BlazorHybridApp"
FirstBlazorHybridApp - it is masterpiece for blazor developers <3, but we faced the problem of Cyrillic support

Can you help in that situation?

Cyrillic text: "Привет мир"

![cyr](https://user-images.githubusercontent.com/42978583/106547015-93f6da80-6536-11eb-9fb5-e353e6a2c574.jpg)

Note:  in Hybrid.Android / wwwroot/ index.html, outside < app > tag  cyrrilic text working

[2021-02-02 07:46] Slevya commented on #315
It is enough to convert .razor files to UTF-8

[2021-02-02 07:46] #315 closed

[2021-02-02 16:49] Eilon commented on #315
Yup that sounds right!

[2021-02-02 21:31] #313 closed

[2021-02-03 19:18] Eilon opened #317 "Add support for hosting Blazor Web components directly in Windows Forms (.NET Core)"
Did you think we forgot about Windows Forms (WinForms)? After doing WPF in #313, let's get Blazor Web working in Windows Forms too!

[2021-02-03 19:22] #317 closed

[2021-02-03 19:30] Eilon commented on #184
This is now done as part of #317, fixed by PR #318 !

[2021-02-03 19:30] #184 closed

[2021-02-03 21:58] RChrisCoble commented on #313
So this removes the need for Xamarin?

Also, how difficult is this to port to .Net 5 (if it isn't already).

Keep up the great work @Eilon !!!

[2021-02-03 22:58] Eilon commented on #207
Hi @jorgepluna we are working on making some of the components in this repo into official parts of .NET Core 6.

You can track the following .NET 6 work items regarding hosting Blazor Web components in Windows and macOS apps:

* Epic: Blazor developers can target and deploy their applications to desktop platforms, allowing them to run natively https://github.com/dotnet/aspnetcore/issues/27217
* Bu

[2021-02-03 23:27] Eilon commented on #313
@RChrisCoble thanks! Yes this is .NET Core 3.1 + WPF + Blazor, so it should work fine on .NET 5 as well. It's only for Blazor Web components. This doesn't have the ability to use Blazor to write native UI (which I think isn't what you were wanting to use right now anyway).

[2021-02-04 05:06] 199621616 commented on #317
@Eilon  你太棒了，看到MoileBlazorBindings天天在进步，真高兴

[2021-02-04 16:55] Eilon commented on #317
WinForms sample app is here: https://github.com/xamarin/MobileBlazorBindings/tree/master/samples/WinFormsBlazorSample

And it uses this standard Razor Class Library (RCL) as its web content: https://github.com/xamarin/MobileBlazorBindings/tree/master/samples/SharedProjects/RazorClassLibrarySample

[2021-02-04 16:55] Eilon commented on #313
WPF sample app is here: https://github.com/xamarin/MobileBlazorBindings/tree/master/samples/WpfBlazorSample/WpfBlazorSample

And it uses this standard Razor Class Library (RCL) as its web content: https://github.com/xamarin/MobileBlazorBindings/tree/master/samples/SharedProjects/RazorClassLibrarySample

[2021-02-04 17:02] ozzioma commented on #154
Just stumbled on this.
@Eilon could you please clarify if it's possible to use Xamarin Essentials code from a Blazor component/page?

I mean say I have a Blazor page ("/customer/create") and I want to access say the geolocation, file picker etc native device libs from Xamarin Essentials?
Can I use them from the Blazor page? That is a plain html/css/js Blazor page hosted in a WebView and does not c

[2021-02-04 17:56] Eilon commented on #154
Yes this should totally work!

[2021-02-04 18:06] ozzioma commented on #154
Awesome! Tried it and it worked!
To think I held off adopting MBB cos of my not being sure this would work!
Thanks for the great work!

A few questions though.
MBB ha given me 2 solid models for developing mobile apps, being firstly a workable replacement for Ionic, namely

1. A server side hosted Blazor WebAssembly app hosted on some server and served within a WebView component
2. Hybrid MBB.

In

[2021-02-04 21:30] Eilon commented on #154
First, please keep in mind that this is an _experimental_ project with no particular release plan, EXCEPT that we are working to productize the BlazorWebView component for Windows and macOS in .NET 6 (RTM later this year 2021): https://github.com/dotnet/aspnetcore/issues/27217

But to your specific questions:

With MBB _all_ of your .NET code runs locally on the device/desktop. There is no web ser

[2021-02-04 22:09] ozzioma commented on #154
Thanks for the feedback!

How about security/authentication/OIDC and session state management?
Been going through the docs and issues, still no clue how to get it working with MBB.
Any pointers?

Thanks

[2021-02-04 23:26] Eilon commented on #154
Hi @ozzioma the simplest thing I can say about auth is that it... isn't simple 😄

But we have 3 samples that show how to do auth in native and hybrid apps with Mobile Blazor Bindings:

1. Hybrid App auth (OIDC): https://github.com/xamarin/MobileBlazorBindings/tree/master/samples/HybridAuthSample
2. Hybrid App auth using MSAL (e.g. Azure AD): https://github.com/xamarin/MobileBlazorBindings/tree/mas

[2021-02-05 00:02] ozzioma commented on #154
Thanks again!
Will check out the examples.

I'm going to assume manual auth/login also works fine for MBB. Like this snippet below

[code]

My auth workflow includes a mix of OIDC, manual login for some apps and mandatory OTP verification.
Would appreciate clarifications how all that is supposed to work within the context of MBB.

Thanks

[2021-02-05 12:17] dMiracleMan opened #319 "Blank Page in ios when in release mode"
I don't know if this is something related to mobile binding but here it goes just in case somebody has seen it.

We currently have an app build with blazor, we ported it using the mobile bindings to phone. The app is working great, but in debug mode.  Once we switch to release mode, we get blank pages (some) in an iphone, not in the emulator.  Android everything is working.

Anyone seen this?

[2021-02-05 17:36] Eilon commented on #319
Hi @dMiracleMan I haven't seen an issue like that in quite a while. Can you show what your app's startup code looks like in `App.cs`? Does it look sort of like what's here: https://docs.microsoft.com/en-us/mobile-blazor-bindings/migrate/preview1-to-preview2#update-appcs-to-use-new-host-and-set-mainpage

[2021-02-05 17:51] Eilon commented on #154
Hi @ozzioma I am not an auth expert but there are certain things that will be different between MBB and other Blazor Apps. One big difference is that on mobile platforms such as iOS and Android there are usually Store requirements that auth take place in a secure browser popup and not in a regular embedded WebView (in part to ensure that the app can't steal credentials). If you have some specific

[2021-02-05 18:57] dcuccia commented on #154
I'd also support the new issue to get some auth expert guidance, very relevant for my scenario as well.

[2021-02-06 11:21] ep0x commented on #225
Since it's a  Webview , you can use javascript window.history.back() and override default back button press in Mainactivity.cs
I hope it helps :)

[2021-02-08 13:42] dustynl opened #320 "Integrating Experimental Mobile Blazor Bindings into an existing Xamarin.Forms App"
Hey Guys,

I see there us section for this in the documentation with a comment "This section coming soon!" :)
Any idea as to when we could get some detail on how to do this?

Kind Regards,
Dustyn

[2021-02-09 22:15] Eilon commented on #249
This is now merged, thank you @lachlanwgordon for the Picker!

[2021-02-09 22:15] #249 closed

[2021-02-10 01:05] alexfdezsauco opened #321 "How to skip certificate validation for the "WebView" or how set "RequireHttpsMetadata" to false via ProviderOptions [AuthSample]"
I trying to test the authentication example using a local identity server.

But I got this error caused by a self signed certificate.

![image](https://user-images.githubusercontent.com/1785664/107446594-c4c5a980-6b0c-11eb-8fb7-d86d5e822cfa.png)

For development propose could be useful the possibility of use http instead https but there is no option for something like:

    options.ProviderOptions

[2021-02-12 20:14] #300 closed

[2021-02-14 03:52] ymqc commented on #320
https://docs.microsoft.com/en-us/mobile-blazor-bindings/advanced/integrate-into-existing-app

[2021-02-14 06:35] arivera12 commented on #319
@Eilon

There are few issues on iOS platform which I am not sure why this happens but we still were able to fix them.

Me and @dMiracleMan got this fixed and working by doing some refactors to the code.

We spend like a month from time to time trying to get everything running back and compatible with iOS on release mode.

We still don't know if this is a bug from MBB or iOS itself since our origin

[2021-02-14 17:48] Dreamescaper opened #324 "Shell Navigation does not support parameters in the middle of URL path"
STR:
1. Add ContentPage with `@page /users/{Id}/details`
2. Invoke `await NavigationManager.GoToAsync($"/users/{userId}/details")`

ER:
Page is opened.

AR:
Exception:
Value cannot be null.
Parameter name: match.

Changing the URL to something like `/user-details/{Id}` resolves the issue.

[2021-02-15 10:23] TheCakeMonster opened #325 "Attempt to override layout in subfolder using _Imports.razor makes application hang (hybrid)"
Defining an @layout directive within an _Imports.razor file created in a subfolder seems to cause an application hang/race condition.

Details:
1) I created a hybrid MBB application using preview 5 and deleted the non-web elements, so that I was working only with web syntax.
2) I created a subfolder inside the shared Blazor components project containing some new Blazor components, for example \New

[2021-02-15 13:33] Kylar182 opened #326 "z-index support"
Will z-index from CSS ever be supported?

[2021-02-15 16:46] Dreamescaper commented on #326
Web elements inside of WebView for hybrid apps should support z-index (as any other web content).

Native apps probably won't support z-index, as it is not supported by underlying Xamarin.Forms framework.

[2021-02-16 18:59] Eilon commented on #326
Pretty much what @Dreamescaper said.

@Kylar182 - can you share more info about what exactly isn't working or what you'd like to see?

[2021-02-16 19:12] Eilon commented on #319
@arivera12 very interesting. I wouldn't have thought that the changes you mention would make much difference. If there's any other info you can share that might help us narrow down the root cause of this. I think that the original problem we had like this had to do with the main page taking too long to start up and because it's async, it wouldn't load in time for iOS to accept it. So that's why th

[2021-02-16 19:22] Eilon commented on #325
@TheCakeMonster thank you for reporting this issue. Could you upload your project to a GitHub repo so that we can take a look? This certainly sounds like a bug.

[2021-02-16 19:32] #302 closed

[2021-02-16 19:35] Eilon commented on #324
Tagging @lachlanwgordon .

I think this was a deliberate omission when @lachlanwgordon first added Shell because we thought it better to get _something_ checked in, and resolve everything else whenever it was needed.

I think the main reason we didn't support this is that the route logic is re-implemented in MBB because we were sure if we could re-use Blazor's routing logic (such as parsing, etc.)

[2021-02-16 19:36] Eilon commented on #324
Here's a meta-issue where @lachlanwgordon enumerated several limitations with what we currently have: https://github.com/dotnet/MobileBlazorBindings/issues/157

But I think it's fine to have this specific issue open for this specific problem.

[2021-02-16 20:30] TheCakeMonster commented on #325
There's an example at https://github.com/TheCakeMonster/Examples/tree/master/HangingBlazorHybridApp

Currently, /Pages/NewFolder/_Imports.razor contains an @layout directive, and the app hangs when run up in Visual Studio 2019 16.9 preview 4. If you comment this out and uncomment the @layout in  /Pages/NewFolder/NewComponent.razor then it will start and work correctly. I think this proves that the

[2021-02-16 21:53] Eilon commented on #293
Definitely this! But for now I agree we should just ignore pages with such routes when we talk to Xamarin.Forms' Shell routing system.

[2021-02-16 21:57] Eilon commented on #293
Fixed by #294

[2021-02-16 21:57] #293 closed

[2021-02-16 21:57] arivera12 commented on #319
@Eilon I would like to have any info to share but iOS just displayed blank with no error message and no crash also.

The problem it's not when the app starts but it could even throw this error on application start up.

Try this on ios in release on real device

`[Inject] public virtual IJSRuntime JSRuntime { get; set; }`

The page containing this should display blank.

[2021-02-16 21:57] Eilon commented on #325
Thank you @TheCakeMonster for the repro, I will take a look!

[2021-02-16 22:05] Eilon commented on #319
Yes this is quite odd. I can't think of many differences between debug vs. release and also simulator vs. physical device. I don't think there's any code in Mobile Blazor Bindings that cares about these settings/configurations. But it could be some interaction of pre-existing components that is made worse in MBB.

[2021-02-16 22:06] Eilon commented on #319
I'm keeping this issue open because there is presumably some issue here, but I don't have any immediate action planned for this.

[2021-02-16 22:17] lachlanwgordon commented on #324
I never even thought to try a URL like that, but I'm not at all surprised that it throws an exception.

It's probably not too hard to fix, but unless we urgently need it, let's leave it as-is and try to workout how to use the ASP.Net url parsing.

Thanks for the tip though, I'm going to start using urls like this in web blazor projects.

[2021-02-16 23:17] Eilon commented on #321
Closing this because there are workarounds and it isn't yet clear if this is a common scenario. Please see this comment for more details and discussion: https://github.com/dotnet/MobileBlazorBindings/pull/322#issuecomment-780179951

[2021-02-17 01:11] Eilon commented on #321
Re-opening for further consideration.

[2021-02-17 02:35] arivera12 commented on #319
At least I have the fixes there if anyone crash there.

[2021-02-17 10:14] Kylar182 commented on #326
Well, the I've built 1 prod Xamarin App from ground up, a few Blazor apps and 1 WPF app. The main issue with XAML is how much layering of layouts it takes and how verbose it becomes to do simple things like z-index. What I'm hoping to accomplish is to be able to use Bootstrap's Flex Grid with z-index to build layouts like I do in Blazor.

[2021-02-17 17:29] Eilon commented on #319
Yes, thank you @arivera12 , I hope your notes help anyone else who runs into this!

[2021-02-17 17:34] Eilon commented on #326
So you want to use CSS z-index for _native_ controls, such as StackLayout, Button, Entry, or for HTML controls, such as `<input type="..." />`, `<div ... />`, etc.?

[2021-02-19 01:27] DannyMurphy93 opened #328 "Shell > Content Page styling (MobileBlazorBindings)"
Using Shell Navigation with Tabbed pages, it displays as bottom tabs and each page is defaulted with a top bar, How can I change the colour of the top bars, or remove them? and how can I change the colour of the bottom tabs? Tried using CSS classes but no luck.

![image](https://user-images.githubusercontent.com/31740747/108443789-4fb34c00-7251-11eb-98e4-e54c85149a0d.png)

[2021-02-19 10:30] Dreamescaper commented on #328
We have ShellProperties component for this purpose.
See sample here https://github.com/dotnet/MobileBlazorBindings/blob/master/samples/ControlGallery/ControlGallery/Views/ShellPropertiesPlayground.razor .

It's not yet released though, you can test it using nightly nuget source.

Otherwise you can do same by obtaining native XF element, and applying attached properties from Xamarin.Forms.Shell cla

[2021-02-21 12:38] sabitertan commented on #154
@ozzioma , @dcuccia I didn't try with latest MBB but this may help too: https://github.com/WildGums/Blorc.OpenIdConnect

[2021-02-22 17:51] budcribar opened #331 "Enable Remoteable Blazor UI"
Hi @Eilon,

I have built a demo based on the work that @jspuij  did in creating BlazorWebView which allows the user interface to be accessed through a web server. For example, a customer who is running a diagnostic program behind a firewall could allow service personnel to control the program remotely  without giving up full access to the customer's computer. There are some other IOT scenarios tha

[2021-02-22 19:34] Eilon commented on #331
Hi @budcribar can you share some details on what changes you would need to BlazorWebView?

The primary goal of Mobile Blazor Bindings is to enable Blazor Web developers to build native and hybrid cross-platform apps, so that is what guides most of our enhancements and fixes. Sometimes we make changes that are not directly related to that goal, so long as it doesn't _conflict_ with that goal.

So i

[2021-02-22 20:31] budcribar commented on #331
The blazor web view that @jspuij had the following signature
 public static IDisposable Run<TStartup>(IBlazorWebView blazorWebView, string hostHtmlPath, ResolveWebResourceDelegate defaultResolveDelegate = null);

where
 public interface IBlazorWebView
    {
        //
        // Summary:
        //     Event that is fired when a web message is received from javascript.
        event EventHandler<s

[2021-02-22 23:41] Dreamescaper commented on #324
Problem is that most of Blazor's routing classes are internal. I'm not sure we'll be able to re-use them.
E.g.
https://source.dot.net/#Microsoft.AspNetCore.Components/Routing/RouteTableFactory.cs

[2021-02-24 19:45] IvanJosipovic opened #332 "Bundle wwwroot into executable"
Currently when publishing a Windows based Hybrid Blazor App, it will publish the executable and the wwwroot folder.
Are there any plans to support embedding the wwwroot into the executable?

![image](https://user-images.githubusercontent.com/9521987/109056741-b1324b00-7695-11eb-9c03-9f7b2a6552d0.png)

[2021-02-25 00:50] Eilon commented on #332
Hi @IvanJosipovic the location of static files currently depends on the platform. They go into a different location depending on whether it's Windows, macOS, iOS, or Android, in part due to limitations of those platforms. Static files on disk tend to be the simplest approach because the files _start out_ as static files on disk, so it's a bit easier to load them. With embedded resources we have to

[2021-02-25 01:21] IvanJosipovic commented on #332
Thanks for the response @Eilon.
I see this suggestion being useful in the Windows/macOS targets only and primarily helping with aesthetics.

Benefits of embedding:
 - Easier portability, less fragile
 - Shipping a single binary is cleaner
 - Hides internal resources
 - Makes it harder to alter internal resources

[2021-02-25 17:20] Eilon commented on #332
Sure, these all seem reasonable. I think for many apps this would be largely solved by using an installer, for example an MSI, or going through an app store experience such as Windows Store or Apple App Store. Many apps will likely still be multi-file, but it might be nice to reduce some loose files.

[2021-02-25 17:39] dcuccia commented on #332
I can second the single file use case - I am building portable no-install single file desktop apps and evaluating Blazor as the UI layer.

[2021-02-25 18:21] Eilon opened #334 "Android manifest is missing project name and conflicts with other projects"
Some Android template metadata is incorrect and causes conflicts when you create multiple projects and then try to deploy to the emulator (and presumably to a real device). The Android manifest has `com.companyname` and it should append the project name as well so that it's different per project.

Need to look at the Xamarin.Forms templates again and do whatever they do.

cc @danroth27

[2021-02-25 19:38] Eilon commented on #334
Need something like this in template.in.json:

[code]

[2021-02-25 19:40] Eilon commented on #334
Which we appear to already have... but maybe something isn't running that replacer.

[2021-02-25 22:21] Eilon opened #335 "Changing CSS in referenced RCL doesn't show up in app without clean/build"
In a hybrid app if you change the CSS in the Razor Class Library (RCL) then those changes don't show up in the app (at least on Windows). If you clean and rebuild then it shows up.

It appears that something isn't copying/overwriting the static file assets during build even though they are newer.

[2021-02-25 22:21] Eilon commented on #335
cc @danroth27

[2021-02-26 10:38] TheCakeMonster commented on #240
@jspuij Thanks for the steer on how to set the custom error handler. I'd expected it to be work automatically based on a custom service registration with the DI container. When I registered a custom IBlazorErrorHandler implementation into DI and it wasn't used, I was slightly confused!

I've updated Main.razor in my solution to accept an injected variable of type IBlazorErrorHandler, and pass that

[2021-02-26 12:08] TheCakeMonster opened #336 "Is it possible to control the hosting environment in a MBB hybrid app?"
There is some code in the BlazorWebHost class to change behaviour by environment, but I can't find any way to control the environment in which the application considers itself to be running.

As far as I can see, no environment variables are being added, for example - presumably because environment variables are not available in some hosts and/or not considered a sufficiently secure way to switch

[2021-02-26 12:18] TheCakeMonster commented on #336
Having thought about this some more, I'm wondering if a sensible approach might be to add hooks to allow it to be controlled through conditional compilation of the host application.

If you added just enough hooks into the BlazorWebHost and MobileBlazorBindingsHost classes to enable the environment to be set by conditional compilation (debug versus release, for example) then people would have a mo

[2021-02-26 17:36] Eilon commented on #240
@TheCakeMonster we could try to make this work. For now it's just an area where we put in a quick feature to make some really-bad scenarios be less-bad, but it's still not great! We'll have to think about this one a bit to come up with a reasonable solution.

[2021-02-26 17:50] Eilon commented on #336
You can set the environment in `App.cs` like this:

[code]

And then you can read the environment by getting the `IHostEnvironment` service from DI:

[code]

![image](https://user-images.githubusercontent.com/202643/109336233-f3839580-7817-11eb-9920-4fdfc9e740aa.png)

The default is always "Production" because that is the safe default setting. You can then set up your app to use different environm

[2021-02-26 18:01] TheCakeMonster commented on #325
@Eilon thanks, your efforts on the framework are much appreciated.

It's an aside, but while I'm here it's worth saying how well the experimental framework seems to work. I'm using it for building a Windows application using HTML, and by and large the functionality you'd need to use this in the wild seems to be present already. There are a few areas to add extra functionality I'm sure, but so far

[2021-02-26 18:24] TheCakeMonster commented on #336
Ah, that's great. Thanks. Sorry, I missed that completely.

I'll add some conditional compilation to enable me to switch by build configuration, so that moves me forward a bit.

However, I think I am right in saying that this needs to come after the CreateDefaultBuilder() method call, which means the environment gets changed after the CreateDefaultBuilder() method has completed in BlazorWebHost. A

[2021-02-26 19:05] Eilon commented on #336
Oh I think I see. You're saying that even though you can set the environment name with this API, it happens too late for some built-in features done by the BlazorWebHost that have already run?